<div class="modal-body">
  <%= form_for @requisicao_transporte, url: salvar_negacao_useget_requisicao_transporte_path(@requisicao_transporte), method: :put, remote: true do |f| %>

    <% if @requisicao_transporte.errors.any? %>
      
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-ban"></i> Ops! Algo deu errado.
          <% @requisicao_transporte.errors.each do |k,v| %>
            <% if k.to_s == 'passageiros' %>
              <br/> <i class="icon fas fa-users"></i> Você precisa adicionar ao menos 1 passageiro
            <% end %>
            <% if k.to_s == 'destinos' %>
              <br/> <i class="icon fas fa-map"></i> Você precisa adicionar ao menos 1 destino
            <% end %>
          <% end %>
        </h5>
      </div>
    <% end %> 
    
    <%= f.hidden_field :usuario_negou, value: current_user.nome %>
    <%= f.hidden_field :status, value: "negada" %>
    <%= f.hidden_field :data_hora_negada, value: Time.now %>

    <div class="form-group">
      <%= f.label :motivo_negada, 'Motivo da negação' %>
      <%= f.text_area :motivo_negada, class: "form-control", required: true %>
      <%= has_error(@requisicao_transporte, :motivo_negada) %>
    </div>
    
    <br/>
    
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" data-disable-with="Salvar"><i class="icon fa fa-check"></i> Salvar</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="icon fas fa-ban"></i> Cancelar</button>
    </div>
  <% end %>
</div>