<div class="nested-fields">
  
  <%= f.hidden_field :user_id, value: current_user.id %>
  
  <div class="form-group">
    <%= f.label :nome %>
    <%= f.text_field :nome, class: "form-control", required: true %>
  </div>
  <div class="form-group">
    <%= f.label :cpf %>
    <%= f.text_field :cpf, class: "form-control", required: true %>
  </div>
  
  <%= link_to_remove_association "Remover Passageiro", f, class: "btn btn-danger" %>
 
  <hr/>
</div>