<ul class="nav nav-pills">
  <li class="nav-item">
    <%= link_to "Aguardando (#{contagem_requisicoes[0]})", useget_requisicao_transportes_path(status: 1), class: "nav-link #{'active' if status.to_i == 1}", remote: true %>
  </li>
  <li class="nav-item">
    <%= link_to "Aprovadas (#{contagem_requisicoes[1]})", useget_requisicao_transportes_path(status: 2), class: "nav-link #{'active' if status.to_i == 2}", remote: true %>
  </li>
  <li class="nav-item">
    <%= link_to "Em serviço (#{contagem_requisicoes[2]})", useget_requisicao_transportes_path(status: 3), class: "nav-link #{'active' if status.to_i == 3}", remote: true %>
  </li>
  <li class="nav-item">
    <%= link_to "Negadas (#{contagem_requisicoes[3]})", useget_requisicao_transportes_path(status: 4), class: "nav-link #{'active' if status.to_i == 4}", remote: true %>
  </li>
  <li class="nav-item">
    <%= link_to "Canceladas (#{contagem_requisicoes[4]})", useget_requisicao_transportes_path(status: 5), class: "nav-link #{'active' if status.to_i == 5}", remote: true %>
  </li>
  <li class="nav-item">
    <%= link_to "Finalizadas (#{contagem_requisicoes[5]})", useget_requisicao_transportes_path(status: 6), class: "nav-link #{'active' if status.to_i == 6}", remote: true %>
  </li>
</ul>

<br/>
<table id="data-table" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Código</th>
      <th>Status</th>
      <th>Tipo</th>
      <th>Data/Hora Criação</th>
      <th>Data/Hora Saída</th>
      <th>Destinos</th>
      <th>Passageiros</th>
      <th>Unidade</th>
      <th>Usuário</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody id="data-table-body">
    <% requisicoes.each do |requisicao_transporte| %>
      <tr>
        <td><%= requisicao_transporte.id %></td>
        <td><%= requisicao_transporte.status %></td>
        <td><%= requisicao_transporte.tipo %></td>
        <td><%= requisicao_transporte.created_at.strftime("%d/%m/%Y %H:%M") if requisicao_transporte.created_at %></td>
        <td><%= requisicao_transporte.data_hora_ida.strftime("%d/%m/%Y %H:%M") if requisicao_transporte.data_hora_ida %></td>
        <td><%= requisicao_transporte.destinos.count %></td>
        <td><%= requisicao_transporte.passageiros.count %></td>
        <td><%= requisicao_transporte.unidade.sigla %></td>
        <td><%= requisicao_transporte.user.nome.split.first %></td>
        <td>
          <%= link_to useget_requisicao_transporte_path(requisicao_transporte), class: "btn btn-sm btn-default", title: "Ver", remote: true  do %>
            <i class="fas fa-eye"></i>
          <% end %>
          <% if requisicao_transporte.status == "aguardando" %>
            <%= link_to useget_requisicao_transporte_aprovar_path(requisicao_transporte), data: { confirm: 'Tem certeza que quer aprovar essa requisição?' }, class: "btn btn-sm btn-success", title: "Aprovar" do %>
              <i class="fas fa-check"></i>
            <% end %>
          <% end %>
          <% if requisicao_transporte.status == "aguardando" %>
            <%= link_to negar_useget_requisicao_transporte_path(requisicao_transporte), class: "btn btn-sm btn-danger", title: "Negar", remote: true do %>
              <i class="fas fa-ban"></i>
            <% end %>
          <% end %>
          <% if requisicao_transporte.status == "aprovada" %>
            <%= link_to new_servico_transporte_path(requisicao_transporte_id: requisicao_transporte), class: "btn btn-sm btn-success", title: "Iniciar Serviço", remote: true do %>
              <i class="fas fa-car"></i>
            <% end %>
          <% end %>
          <% if requisicao_transporte.status == "em_servico" %>
            <%= link_to edit_servico_transporte_path(requisicao_transporte.servico_transporte), class: "btn btn-sm btn-warning", title: "Finalizar Serviço", remote: true do %>
              <i class="fas fa-car"></i>
            <% end %>
          <% end %>
        </td>
      </tr> 
    <% end %>
  </tbody>
</table>