<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="#" class="nav-link"><b>Acessando como: </b> <%= current_user.email %></a>
    </li>
  </ul>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <% unread_count = current_user.mensagens_nao_lidas %>
    <% unread_msgs = Mensagem.joins(:requisicao_ti)
      .where(requisicao_tis: { id: RequisicaoTi.do_usuario_ou_tecnico(current_user).pode_enviar_mensagem.select(:id) })
      .where.not(user_id: current_user.id)
      .where(status: 'não lida')
      .order(created_at: :desc)
      .limit(5) %>

    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#" title="Mensagens">
        <i class="far fa-comments"></i>
        <span id="mensagens-diretas-header" class="badge badge-danger navbar-badge <%= 'd-none' if unread_count.to_i == 0 %>">
          <%= unread_count %>
        </span>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <span class="dropdown-item dropdown-header">
          <%= unread_count.to_i > 0 ? "#{unread_count} novas mensagens" : "Sem novas mensagens" %>
        </span>
        <div class="dropdown-divider"></div>
        <div id="mensagens-dropdown-items">
          <%= render partial: "mensagens/dropdown_items", locals: { unread_msgs: unread_msgs } %>
        </div>
      </div>
    </li>

    <li class="nav-item dropdown user-menu">
      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
        <% if current_user.avatar.present? %>
          <%= image_tag current_user.avatar.variant(resize_to_fill: [30, 30]), class: "user-image img-circle elevation-2", alt: "User Image" %>
        <% else %>
          <img src="/adminLTE/dist/img/avt.png" class="user-image img-circle elevation-2" alt="User Image">
        <% end %>
        <span class="d-none d-md-inline"><%= current_user.nome.split.first %></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <li class="user-header bg-light">
          <% if current_user.avatar.present? %>
            <%= image_tag current_user.avatar.variant(resize_to_fill: [90, 90]), class: "img-circle elevation-2", alt: "User Image" %>
          <% else %>
            <img src="/adminLTE/dist/img/avt.png" class="img-circle elevation-2" alt="User Image">
          <% end %>
          <p>
            <%= current_user.nome %>
            <small><%= current_user.email %></small>
          </p>
        </li>
        <li class="user-footer">
          <%= link_to "Meu Perfil", perfil_index_url, class: "btn btn-default btn-flat" %>
          <%= link_to "Alterar Senha", perfil_alterar_senha_url, class: "btn btn-default btn-flat" %>
          <%= link_to "Sair", destroy_user_session_path, method: :get, class: "btn btn-danger btn-flat float-right", style: "color: #fff;" %>
        </li>
      </ul>
    </li>
  </ul>
</nav>