<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="<%= home_index_url %>" class="brand-link">
    <%= image_tag('AdminLTELogo', class: "brand-image img-circle elevation-3", style: "opacity: .8") %>
    <span class="brand-text font-weight-light">Siscom SEED</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <% if current_user.avatar.present? %>
          <%= image_tag current_user.avatar.variant(resize_to_fill: [160, 160]), class: "img-circle elevation-2" %>
        <% else %>
          <img src="/adminLTE/dist/img/avt.png" class="img-circle elevation-2" alt="User Image">
        <% end %>
      </div>
      <div class="info">
        <a href="#" class="d-block"><%= current_user.nome.split.first %></a>
      </div>
    </div>
    
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
              with font-awesome or any other icon font library -->

        <li class="nav-item">
          <a href="<%= home_index_url %>" class="nav-link <%= 'active' if (params[:controller] == 'home' and params[:action] == 'index') %>">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Início
            </p>
          </a>
        </li>  
        
        <li class="nav-header">MINHA ÁREA</li>
  
        <li class="nav-item">
          <a href="<%= perfil_index_url %>" class="nav-link <%= 'active' if (params[:controller] == 'perfil' and params[:action] == 'index') %>">
            <i class="nav-icon fa fa-user"></i>
            <p>Meu Perfil</p>
          </a>
        </li>
        <li class="nav-item">  
          <a href="<%= perfil_alterar_senha_url %>" class="nav-link <%= 'active' if (params[:controller] == 'perfil' and params[:action] == 'alterar_senha') %>">
            <i class="nav-icon fa fa-lock"></i>
            <p>Alterar Senha</p>
          </a>
        </li>

        <% if current_user.has_role? :req_serv_ti %>
          <li class="nav-item">
            <a href="<%= mensagens_path %>" target="_blank" class="nav-link <%= 'active' if (params[:controller] == 'mensagens' and params[:action] == 'index') %>">
              <i class="nav-icon fas fa-sms"></i>
              <p>Mensagens Diretas <span id="mensagens-diretas"></span></p>
            </a>
          </li>
        <% end %>

        <% if current_user.has_role? :req_serv_ti %>
          <li class="nav-item">
            <a href="<%= requisicao_tis_path %>" class="nav-link <%= 'active' if (params[:controller] == 'requisicao_tis' and params[:action] == 'index') %>">
              <i class="nav-icon fa fa-desktop"></i>
              <p>Requisições TI</p>
            </a>
          </li>
        <% end %>

        <% if current_user.has_role? :req_serv_tp %>
          <li class="nav-item">
            <a href="<%= requisicao_transportes_path %>" class="nav-link <%= 'active' if (params[:controller] == 'requisicao_transporte' and params[:action] == 'index') %>">
              <i class="nav-icon fa fa-car"></i>
              <p>Requisições Transporte</p>
            </a>
          </li>
        <% end %>

        <% if current_user.has_role? :req_serv_midia %>
          <li class="nav-item">
            <a href="../calendar.html" class="nav-link">
              <i class="nav-icon fa fa-image"></i>
              <p>Requisições Mídia</p>
            </a>
          </li>
        <% end %>

        <% if current_user.has_any_role? :tec_serv_tp, :master %>
          <li class="nav-header">USEGET</li>

          <li class="nav-item">
            <a href="<%= useget_requisicao_transportes_path %>" class="nav-link <%= 'active' if (params[:controller] == 'useget_requisicao_transportes' and params[:action] == 'index') %>">
              <i class="nav-icon fa fa-desktop"></i>
              <p>Requisições</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="<%= patio_index_url %>" class="nav-link <%= 'active' if (params[:controller] == 'patio' and params[:action] == 'index') %>">
              <i class="nav-icon fa fa-home"></i>
              <p>Patio</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="<%= veiculos_url %>" class="nav-link <%= 'active' if (params[:controller] == 'veiculos' and params[:action] == 'index') %>">
              <i class="nav-icon fa fa-car"></i>
              <p>Veiculos</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="<%= motoristas_url %>" class="nav-link <%= 'active' if (params[:controller] == 'motoristas' and params[:action] == 'index') %>">
              <i class="nav-icon fa fa-users"></i>
              <p>Motoristas</p>
            </a>
          </li>
        <% end %>

        <% if current_user.has_any_role? :tec_serv_ti, :admin, :master %>
          <li class="nav-header">NUINFO</li>

          <li class="nav-item">
            <a href="<%= nuinfo_requisicao_tis_path %>" class="nav-link <%= 'active' if (params[:controller] == 'nuinfo_requisicao_tis' and params[:action] == 'index') %>">
              <i class="nav-icon fa fa-desktop"></i>
              <p>
                Requisições
              </p>
            </a>
          </li>

           <li class="nav-item">
            <a href="<%= incidentes_path %>" class="nav-link <%= 'active' if (params[:controller] == 'incidentes' and params[:action] == 'index') %>">
              <i class="nav-icon fa fa-info"></i>
              <p>
                Incidentes
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="<%= problema_tis_path %>" class="nav-link <%= 'active' if (params[:controller] == 'problema_tis' and params[:action] == 'index') %>">
              <i class="nav-icon far fa-bell"></i>
              <p>
                Problemas
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="<%= tipo_problema_tis_path %>" class="nav-link <%= 'active' if (params[:controller] == 'tipo_problema_tis' and params[:action] == 'index') %>">
              <i class="nav-icon far fa-edit"></i>
              <p>
                Tipos de Problemas
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="<%= acompanhamento_nuinfo_requisicao_tis_path %>" target='_blank' class="nav-link <%= 'active' if (params[:controller] == 'nuinfo_requisicao_tis' and params[:action] == 'acompanhamento') %>">
              <i class="nav-icon far fa-bell"></i>
              <p>
                Acompanhamento
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="<%= em_atendimento_nuinfo_requisicao_tis_path %>" class="nav-link <%= 'active' if (params[:controller] == 'nuinfo_requisicao_tis' and params[:action] == 'em_atendimento') %>">
              <i class="nav-icon far fa-star"></i>
              <p>
                Ultimos 30 dias
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="<%= estatisticas_nuinfo_requisicao_tis_path %>" class="nav-link <%= 'active' if (params[:controller] == 'nuinfo_requisicao_tis' and params[:action] == 'estatisticas') %>">
              <i class="nav-icon far fa-map"></i>
              <p>
                Estatísticas
              </p>
            </a>
          </li>
        <% end %>


        <% if current_user.has_any_role? :tec_serv_ti, :admin, :master %>
          <li class="nav-header">ADMINISTRAÇÃO</li>

          <li class="nav-item">
            <a href="<%= usuarios_path %>" class="nav-link <%= 'active' if (params[:controller] == 'usuarios' and params[:action] == 'index') %>">
              <i class="nav-icon fa fa-users"></i>
              <p>Usuarios</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="<%= unidades_url %>" class="nav-link <%= 'active' if (params[:controller] == 'unidades' and params[:action] == 'index') %>">
              <i class="nav-icon fa fa-sitemap"></i>
              <p>Unidades</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="<%= funcoes_url %>" class="nav-link <%= 'active' if (params[:controller] == 'funcoes' and params[:action] == 'index') %>">
              <i class="nav-icon fa fa-address-card"></i>
              <p>Funções</p>
            </a>
          </li>
        <% end %>


        
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>