<p id="notice"><%= notice %></p>

<h1>Transporte Escolar Municipios</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Tipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transporte_escolar_municipios.each do |transporte_escolar_municipio| %>
      <tr>
        <td><%= transporte_escolar_municipio.nome %></td>
        <td><%= transporte_escolar_municipio.tipo %></td>
        <td><%= link_to 'Show', transporte_escolar_municipio %></td>
        <td><%= link_to 'Edit', edit_transporte_escolar_municipio_path(transporte_escolar_municipio) %></td>
        <td><%= link_to 'Destroy', transporte_escolar_municipio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transporte Escolar Municipio', new_transporte_escolar_municipio_path %>
