<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @transporte_escolar_municipio.nome %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @transporte_escolar_municipio.tipo %>
</p>

<%= link_to 'Edit', edit_transporte_escolar_municipio_path(@transporte_escolar_municipio) %> |
<%= link_to 'Back', transporte_escolar_municipios_path %>
