<% content_for :title do %>
  <i class="fa fa-users"></i> Passageiros
<% end %>
<% content_for :breadcrumb do %>
  <li class="breadcrumb-item active"><a href="<%= passageiros_url %>">Passageiros</a></li>
<% end %>
<% content_for :sub_title do %>
  Lista de Passageiros
<% end %>
<% content_for :buttons do %>
  <%= link_to new_passageiro_path, class: "btn btn-sm btn-success", title: "Novo Passageiro", remote: true do %>
    <i class="fas fa-plus"></i> Novo
  <% end %>
<% end %>

<table id="data-table" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Celular</th>
      <th>Cpf</th>
      <th>Requisicao transporte</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody id="data-table-body">
    <% @passageiros.each do |passageiro| %>
      <tr>
        <td><%= passageiro.nome %></td>
        <td><%= passageiro.celular %></td>
        <td><%= passageiro.cpf %></td>
        <td><%= passageiro.requisicao_transporte_id %></td>
        <td><%= passageiro.user_id %></td>
        <td>
          <%= link_to passageiro_path(passageiro), class: "btn btn-sm btn-default", title: "Ver"  do %>
            <i class="fas fa-eye"></i>
          <% end %>
          <%= link_to edit_passageiro_path(passageiro), class: "btn btn-sm btn-primary", title: "Editar", remote: true  do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to passageiro_path(motorista), method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-sm btn-danger", title: "Excluir"  do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </td>
      </tr> 
    <% end %>
  </tbody>
</table>