<tr>
  <td><%= departamento.nome %></td>
  <td><%= departamento.sigla %></td>
  <td><%= departamento.users.count %></td>
  <td>
    <%= link_to departamento, class: "btn btn-sm btn-default", title: "Ver"  do %>
      <i class="fas fa-eye"></i>
    <% end %>
    <%= link_to edit_departamento_path(departamento), class: "btn btn-sm btn-primary", title: "Editar", remote: true  do %>
      <i class="fas fa-edit"></i>
    <% end %>
    <%= link_to departamento, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-sm btn-danger", title: "Excluir"  do %>
      <i class="fas fa-trash"></i>
    <% end %>
  </td>
</tr> 
