<% requisicoes.each do |r| %>
  <% if current_user == r.user %>
    <% user = r.tecnico %>
  <% else %>
    <% user = r.user %>
  <% end %>
  <a href="#" class="chat_list js-chat-float-item <%= 'active_chat' if current_id.to_s == r.id.to_s %>"
     data-requisicao-id="<%= r.id %>"
     data-user-name="<%= user ? user.nome : 'Sem técnico' %>"
     data-chamado-id="<%= r.id %>">
    <div class="chat_people">
      <% if user&.avatar&.present? %>
        <%= image_tag user.avatar.variant(resize_to_fill: [128, 128]), class: "chat_img profile-user-img img-fluid img-circle" %>
      <% else %>
        <img class="chat_img profile-user-img img-fluid img-circle"
              src="/adminLTE/dist/img/avt.png"
              alt="User profile picture">
      <% end %>
      <div class="chat_ib">
        <h5>
          <%= user ? user.nome : "Sem técnico" %>
          <% nao_lidas = r.mensagens_nao_lidas(current_user) %>
          <span id="conversa-badge-<%= r.id %>">
            <% if nao_lidas && nao_lidas > 0 %>
              <span class="badge badge-danger"><%= nao_lidas %></span>
            <% end %>
          </span>
          <span class="chat_date">
            <%= r.created_at.strftime("%H:%M") if r.created_at %> | <%= r.created_at.strftime("%b %e") if r.created_at %>
          </span>
        </h5>
        <p><%= r.problema_ti&.nome %></p>
      </div>
    </div>
  </a>
<% end %>
