<% content_for :lista_conversas do %>
  <div class="conversas">
    <%= render "conversas", requisicoes: (@requisicoes_ti || []) %>
  </div>
<% end %>


<% content_for :mensagens do %>
  <div class="conversa">
    <% if @conversa.present? %>
      <%= render "conversa", conversa: @conversa %>
    <% end %>
  </div>
<% end %>

<% content_for :caixa_de_digitacao_ do %>
  <div class="row">
    <div class='col-md-9'>
      <input type="text" name="texto" class="write_msg texto" placeholder="Digite a mensagem" />
    </div>   
    <div class='col-md-3 pull-right'>
      <% if @requisicao_ti %>
        <% link_to 'Imagem', new_image_mensagem_path(@requisicao_ti), class: 'btn enviar-upload', remote: true %>
      <% end %>  
      <button class="btn enviar enviar-upload pull-right" type="button">Enviar</button>
    </div>
  </div>
<% end %>     

<% content_for :caixa_de_digitacao do %>
  <%= form_with(url: "#{js_create_mensagens_path}", method: "post", multipart: true, id: "post-form", local: true, data: { chat_status: @requisicao_ti&.status }) do |form| %>
    <div class="row">
      
      <%= form.hidden_field :requisicao_ti, value: (@requisicao_ti.id if @requisicao_ti) %>
      
      <div class='col-md-6'>  
        <%= form.text_field :mensagem, class: "write_msg texto", placeholder: 'Digite a mensagem' %>
      </div>
      <div class='col-md-4'>  
        <%= form.file_field :image, class: 'btn enviar-upload' %>
      </div>
      <div class='col-md-2'>  
        <%= form.submit "Enviar", class: "btn btn-primary pull-right", type: "submit" %>
      </div>
    </div>
  <% end %>
<% end %>  





<% content_for :javascripts do %> 
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script>
    $( document ).ready(function() {
      // sem refresh inicial: conversa é renderizada pelo servidor
      var $mh = $('.msg_history');
      if ($mh.length) {
        $mh.scrollTop($mh[0].scrollHeight);
      }
    }) 

    function enviarMensagem(){
      let mensagem
      mensagem = $('.texto').val()
      $('.texto').val('')
      if (mensagem) {
        enviar_mensagem(mensagem)
      }else{
        alert('Você deve digitar uma mensagem.')
      }
    }

    // (removido código legado de envio)

    window.MensagensUI = window.MensagensUI || {}
    window.MensagensUI.currentRequisicaoId = '<%= @requisicao_ti&.id %>'
    window.MensagensUI.updateConversaBadge = function(requisicaoId, count){
      var targets = $('[id="conversa-badge-' + requisicaoId + '"]');
      if (!targets.length) { return; }
      if (count && count > 0) {
        targets.html('<span class="badge badge-danger">' + count + '</span>');
      } else {
        targets.html('');
      }
    }
    window.MensagensUI.clearCurrentConversaBadge = function(){
      if (window.MensagensUI.currentRequisicaoId) {
        window.MensagensUI.updateConversaBadge(window.MensagensUI.currentRequisicaoId, 0);
      }
    }

    $(document).on('click', '.js-conversa-link', function() {
      var reqId = $(this).data('requisicaoId');
      window.MensagensUI.currentRequisicaoId = reqId;
      window.MensagensUI.clearCurrentConversaBadge();
    });

    $(document).on('click', '.msg_history, .write_msg', function() {
      window.MensagensUI.clearCurrentConversaBadge();
    });

    // (removido código legado de refresh/loop)

    $('#post-form').submit(function(event) {
      event.preventDefault();
      let requisicao_id 
      requisicao_id = '<%= @requisicao_ti.id if @requisicao_ti %>'
      if(requisicao_id) {
        var $form = $(this);
        var chatStatus = $form.data('chatStatus');
        if (chatStatus && chatStatus !== 'Em atendimento') {
          alert('Este chat está disponível apenas para histórico e não permite novas mensagens.');
          return false;
        }
        var $submit = $form.find('input[type="submit"]');
        var $file = $form.find('input[type="file"]');
        var file = $file[0] && $file[0].files && $file[0].files[0];
        $submit.prop('disabled', false).removeAttr('disabled');
        if (file && file.size > (2 * 1024 * 1024)) {
          alert('O arquivo deve ser menor que 2MB. O arquivo foi removido.');
          $file.val('');
          $form.find('.write_msg').focus();
          $submit.prop('disabled', false).removeAttr('disabled');
          return false;
        }
        $submit.prop('disabled', true);
        var formData = new FormData($(this)[0]);
        $.ajax({
          url: $(this).attr('action'),
          data: formData,
          processData: false,
          contentType: false,
          method: 'POST',
          success: function(response) {
            $form.find('.write_msg').val('');
            $form.find('input[type="file"]').val('');
          },
          error: function(response) {
            if (chatStatus && chatStatus !== 'Em atendimento') {
              alert('Este chat está disponível apenas para histórico e não permite novas mensagens.');
            } else {
              alert('O arquivo deve ser menor que 2MB.');
            }
          },
          complete: function() {
            $submit.prop('disabled', false).removeAttr('disabled');
          }
        });
      } else {
        alert('Selecione uma conversa.')
      }
    });

    $('#post-form input[type="file"]').on('change', function() {
      $('#post-form input[type="submit"]').prop('disabled', false).removeAttr('disabled');
    });
    
  </script>

<% end %>