<% content_for :lista_conversas do %>
  <div class="conversas">
    <%= render "conversas", requisicoes: @requisicoes_ti %>
  </div>
<% end %>


<% content_for :mensagens do %> 
  <div class="conversa"></div>
  
<% end %>

<% content_for :caixa_de_digitacao do %>
  <div class="row">
    <div class='col-md-9'>
      <input type="text" name="texto" class="write_msg texto" placeholder="Digite a mensagem" />
    </div>   
    <div class='col-md-3 pull-right'>
      <% if @requisicao_ti %>
        <% link_to 'Imagem', new_image_mensagem_path(@requisicao_ti), class: 'btn enviar-upload', remote: true %>
      <% end %>  
      <button class="btn enviar enviar-upload pull-right" type="button">Enviar</button>
    </div>
  </div>
<% end %>     

<% content_for :javascripts do %> 
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script>
    var tempo_de_refresh = 5000
    
    $( document ).ready(function() {
      requisitar_refresh()
      loop()
    }) 

    function enviarMensagem(){
      let mensagem
      mensagem = $('.texto').val()
      $('.texto').val('')
      if (mensagem) {
        enviar_mensagem(mensagem)
      }else{
        alert('Você deve digitar uma mensagem.')
      }
    }

    $('.enviar').click(function(){
      enviarMensagem()
    })

    jQuery('.texto').keypress(function(event){
      var keycode = (event.keyCode ? event.keyCode : event.which);
      if(keycode == '13'){
        enviarMensagem()
      }
    })

    function requisitar_refresh(){
      let requisicao_id 
      requisicao_id = '<%= @requisicao_ti.id if @requisicao_ti %>'
      if(requisicao_id) {
        $.get( '<%= refresh_mensagens_url %>', { requisicao_ti: '<%= @requisicao_ti ? @requisicao_ti.id : nil %>'}, function( data ) {
          $( ".result" ).html( data );
        });
      } else {
        $.get( '<%= mensagens_url %>', function( data ) {
          $( ".result" ).html( data );
        });
      }
    }

    function loop() {
      if(document.hidden){
        tempo_de_refresh = 30000
      }else{
        tempo_de_refresh = 10000
      }  
      setTimeout(() => {
        requisitar_refresh()
        loop();
      }, tempo_de_refresh);
    }

    function enviar_mensagem(mensagem){
      let requisicao_id 
      requisicao_id = '<%= @requisicao_ti.id if @requisicao_ti %>'
      if(requisicao_id) {
        $.post( '<%= js_create_mensagens_path %>', { requisicao_ti: requisicao_id, mensagem: mensagem}, function( data ) {
          $( ".result" ).html( data );
        });
      }else{
        alert('Selecione uma conversa.')
      }
    } 

    document.addEventListener("visibilitychange", function() {
      if (document.hidden){
        requisitar_refresh()
      } else {
        requisitar_refresh()
      }
    });
    
  </script>

<% end %>