<div class="card card-widget widget-user-2">

  <div class="widget-user-header bg-warning">
    <div class="widget-user-image">
      <% if tecnico.avatar.present? %>
        <%= image_tag tecnico.avatar.variant(resize_to_fill: [128, 128]), class: "img-circle elevation-2" %>
      <% else %>
        <img class="img-circle elevation-2"
              src="/adminLTE/dist/img/avt.png"
              alt="User profile picture">
      <% end %>

    </div>
    <!-- /.widget-user-image -->
    <h3 class="widget-user-username"><%= tecnico.nome %></h3>
    <h5 class="widget-user-desc"><%= tecnico.funcao.nome ||= "Sem função"  %></h5>
  </div>
</div>

<div class='row'>
  <div class='col-lg-6'>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a href="#" class="nav-link">
          HOJE
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <% atendendo_hoje = RequisicaoTi.do_tecnico(tecnico).where("status = ? and (data_hora_em_atendimento >= ? and data_hora_em_atendimento <= ?)", 2, DateTime.now.beginning_of_day, DateTime.now.end_of_day).all %>
          Atendendo <span class="badge bg-danger style="margin: 0 0 10px 2px;"><%= atendendo_hoje.count %></span>
          <% if atendendo_hoje.count > 0 %>
            <% atendendo_hoje.order(data_hora_em_atendimento: :desc).limit(3).each do |r| %>
              <br/>
              <span><%= r.unidade.nome %></span><span class="float-right"><%= r.data_hora_em_atendimento.strftime("%d/%m %H:%M") %></span>
            <% end %>
          <% end %>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <% concluidos_hoje = RequisicaoTi.do_tecnico(tecnico).where("(status = ? or status = ?) and (data_hora_concluida >= ? and data_hora_concluida <= ?)", 3, 5, DateTime.now.beginning_of_day, DateTime.now.end_of_day).all %>
          Concluídos <span class="badge bg-primary" style="margin: 0 0 10px 2px;"><%= concluidos_hoje.count %></span>
          <% if concluidos_hoje.count > 0 %>
            <% concluidos_hoje.order(data_hora_concluida: :desc).limit(3).each do |r| %>
              <br/>
              <span><%= r.unidade.nome %></span><span class="float-right"><%= r.data_hora_concluida.strftime("%d/%m %H:%M") %></span>
            <% end %>
          <% end %>
        </a>
      </li>
    </ul>
  </div>
  <div class='col-lg-6'>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a href="#" class="nav-link">
          SEMANA
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <% atendendo_na_semana = RequisicaoTi.do_tecnico(tecnico).where("status = ? and (data_hora_em_atendimento >= ? and data_hora_em_atendimento <= ?)", 2, DateTime.now.beginning_of_week, DateTime.now.end_of_week).all %>
          Atendendo <span class="badge bg-danger style="margin: 0 0 10px 2px;"><%= atendendo_na_semana.count %></span>
          <% if atendendo_na_semana.count > 0 %>
            <% atendendo_na_semana.order(data_hora_em_atendimento: :desc).limit(3).each do |r| %>
              <br/>
              <span><%= r.unidade.nome %></span><span class="float-right"><%= r.data_hora_em_atendimento.strftime("%d/%m %H:%M") %></span>
            <% end %>
          <% end %>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <% concluidos_na_semana = RequisicaoTi.do_tecnico(tecnico).where("(status = ? or status = ?) and (data_hora_concluida >= ? and data_hora_concluida <= ?)", 3, 5, DateTime.now.beginning_of_week, DateTime.now.end_of_week).all %>
          Concluídos <span class="badge bg-primary" style="margin: 0 0 10px 2px;"><%= concluidos_na_semana.count %></span>
          <% if concluidos_na_semana.count > 0 %>
            <% concluidos_na_semana.order(data_hora_concluida: :desc).limit(3).each do |r| %>
              <br/>
              <span><%= r.unidade.nome %></span><span class="float-right"><%= r.data_hora_concluida.strftime("%d/%m %H:%M") %></span>
            <% end %>
          <% end %>
        </a>
      </li>
    </ul>
  </div>
</div>
