<div class="card-header">
    <h3 class="card-title">
      <% if requisicoes_ti_abertas.count >= 1 %>
        <h5 class="text-danger"><b><%= requisicoes_ti_abertas.count %></b> <%= requisicoes_ti_abertas.count > 1 ? "Requisições" : "Requisição" %> de T.I. em aberto:</h5>
      <% else %>
        <h5>Sem requisições de T.I. em aberto no momento.</h5>
      <% end %>
    </h3>
  </div>
  <br/>

  <% if requisicoes_ti_abertas.count >= 1 %>    
    <table id="data-table" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Data/Hora</th>
          <th>Problema</th>
          <th>Usuário</th>
          <th>Unidade</th>
        </tr>
      </thead>
      <tbody id="data-table-body">
        <% requisicoes_ti_abertas.each do |requisicao_ti| %>
          <tr>
            <td><%= requisicao_ti.created_at.strftime("%d/%m/%Y %H:%M") if requisicao_ti.created_at %></td>
            <td><%= requisicao_ti.problema_ti.nome if requisicao_ti.problema_ti %></td>
            <td><%= requisicao_ti.user.nome.split.first if requisicao_ti.user %></td>
            <td><%= requisicao_ti.unidade.sigla if requisicao_ti.unidade %></td>
          </tr> 
        <% end %>
      </tbody>
    </table>
  <% end %>