<div class="modal-body">
  <div class="form-group">
    <%= label_tag "Código" %>
    <%= text_field_tag '', @requisicao_ti.id, class: "form-control", readonly: true %>
  </div>
  
  <div class="form-group">
    <%= label_tag "Status" %>
    <%= text_field_tag '', @requisicao_ti.status, class: "form-control", readonly: true %>
  </div>

  <div class="form-group">
    <%= label_tag "Data/Hora Criação" %>
    <%= text_field_tag '', @requisicao_ti.created_at.strftime("%d/%m/%Y %H:%M"), class: "form-control", readonly: true %>
  </div>

   <% if @requisicao_ti.data_hora_em_atendimento %>
    <div class="form-group">
      <%= label_tag "Data/Hora em atendimento" %>
      <%= text_field_tag '',(@requisicao_ti.data_hora_em_atendimento.strftime("%d/%m/%Y %H:%M") if @requisicao_ti.data_hora_em_atendimento), class: "form-control", readonly: true %>
    </div>
  <% end %>

  <% if @requisicao_ti.data_hora_concluida %>
    <div class="form-group">
      <%= label_tag "Data/Hora concluída" %>
      <%= text_field_tag '',(@requisicao_ti.data_hora_concluida.strftime("%d/%m/%Y %H:%M") if @requisicao_ti.data_hora_concluida), class: "form-control", readonly: true %>
    </div>
  <% end %>

  <% if @requisicao_ti.data_hora_finalizada %>
    <div class="form-group">
      <%= label_tag "Data/Hora finalizada" %>
      <%= text_field_tag '',(@requisicao_ti.data_hora_finalizada.strftime("%d/%m/%Y %H:%M") if @requisicao_ti.data_hora_finalizada), class: "form-control", readonly: true %>
    </div>
  <% end %>

  <div class="form-group">
    <%= label_tag "Problema" %>
    <%= text_field_tag '', (@requisicao_ti.problema_ti.nome if @requisicao_ti.problema_ti), class: "form-control", readonly: true %>
  </div>

  <div class="form-group">
    <%= label_tag "Requisitante" %>
    <%= text_field_tag '',(@requisicao_ti.user.nome if @requisicao_ti.user), class: "form-control", readonly: true %>
  </div>

  <div class="form-group">
    <%= label_tag "Função" %>
    <%= text_field_tag '',(@requisicao_ti.user.funcao.nome if @requisicao_ti.user and @requisicao_ti.user.funcao), class: "form-control", readonly: true %>
  </div>

  <div class="form-group">
    <%= label_tag "Unidade do Requisitante" %>
    <%= text_field_tag '',(@requisicao_ti.user.unidade.sigla_nome if @requisicao_ti.user and @requisicao_ti.user.unidade), class: "form-control", readonly: true %>
  </div>

  <div class="d-none" id="nome-email">
    <div class="form-group">
      <%= label_tag 'Nome completo' %>
      <%= text_field_tag '', (@requisicao_ti.nome), class: "form-control", readonly: true %>
    </div>

    <div class="form-group">
      <%= label_tag 'email' %>
      <%= text_field_tag '', (@requisicao_ti.email), class: "form-control", readonly: true %>
    </div>
  </div>

  <div class="d-none" id="cpf-rg">
    <div class="form-group">
      <%= label_tag 'cpf' %>
      <%= text_field_tag '', (@requisicao_ti.cpf), class: "form-control", readonly: true %>
    </div>

    <div class="form-group">
      <%= label_tag 'rg' %>
      <%= text_field_tag '', (@requisicao_ti.rg), class: "form-control", readonly: true %>
    </div>
  </div>

  <div>
    <div class="form-group d-none" id="nascimento">
      <%= label_tag 'data_nascimento' %>
      <%= text_field_tag '', (@requisicao_ti.data_nascimento.strftime("%d/%m/%Y %H:%M") if @requisicao_ti.data_nascimento), class: "form-control", readonly: true %>
    </div>

    <div class="form-group d-none" id="celular">
      <%= label_tag 'celular' %>
      <%= text_field_tag '', (@requisicao_ti.celular), class: "form-control", readonly: true %>
    </div>
  </div>

  <div class="d-none" id="cargo-funcao">
    <div class="form-group">
      <%= label_tag 'cargo' %>
      <%= text_field_tag '', (@requisicao_ti.cargo.nome if @requisicao_ti.cargo), class: "form-control", readonly: true %>
    </div>

    <div class="form-group">
      <%= label_tag 'função' %>
      <%= text_field_tag '', (@requisicao_ti.funcao.nome if @requisicao_ti.funcao), class: "form-control", readonly: true %>
    </div>
  </div>

  <div class="d-none" id="estado-municipio">
    <div class="form-group">
      <%= label_tag 'estado' %>
      <%= text_field_tag '', (@requisicao_ti.estado), class: "form-control", readonly: true %>
    </div>

    <div class="form-group">
      <%= label_tag 'municipio' %>
      <%= text_field_tag '', (@requisicao_ti.municipio), class: "form-control", readonly: true %>
    </div>

  </div>

  <div class="d-none" id="inicio-fim">
    <div class="form-group">
      <%= label_tag 'periodo inicio' %>
      <%= text_field_tag '', (@requisicao_ti.periodo_inicio.strftime('%d/%m/%Y') if @requisicao_ti.periodo_inicio), class: "form-control", readonly: true %>
    </div>

    <div class="form-group">
      <%= label_tag 'periodo fim' %>
      <%= text_field_tag '', (@requisicao_ti.periodo_fim.strftime('%d/%m/%Y') if @requisicao_ti.periodo_fim), class: "form-control", readonly: true %>
    </div>
  </div>

  <div class="form-group d-none" id="destino">
    <%= label_tag 'Unidade destino' %>
    <%= text_field_tag '', (@requisicao_ti.unidade_destino), class: "form-control", readonly: true %>
  </div> 

  <div class="form-group d-none" id="nae">
    <%= label_tag 'NAE da Escola' %>
    <%= text_field_tag '', (@requisicao_ti.nae), class: "form-control", readonly: true %>
  </div>

  <div class="form-group d-none" id="permissao_drive">
    <%= label_tag 'Permissão no Google Drive' %>
    <%= text_field_tag '', (@requisicao_ti.permissao_drive), class: "form-control", readonly: true %>
  </div> 

  <div class="form-group d-none" id="nome_arquivo">
    <%= label_tag 'Nome arquivo' %>
    <%= text_field_tag '', (@requisicao_ti.nome_arquivo), class: "form-control", readonly: true %>
  </div>

  <div class="form-group d-none" id="perfil">
    <%= label_tag 'perfil' %>
    <%= text_field_tag '', (@requisicao_ti.perfil), class: "form-control", readonly: true %>
  </div>

  <div class="form-group d-none" id="carta">
    <%= label_tag 'Carta de apresentação' %>
    <% if !@requisicao_ti.carta.blank? %>
      <%= link_to 'Clique aqui', rails_blob_path(@requisicao_ti.carta, disposition: "inline"), target: '_blank', class: 'form-control', readonly: true %>
    <% else %>
      <span class='form-control' readonly='readonly'>Sem documento</span>
    <% end %>
  </div> 

  <div class="form-group d-none" id="decreto">
    <%= label_tag 'Decreto de nomeação' %>
    <% if !@requisicao_ti.decreto.blank? %>
      <%= link_to 'Clique aqui', rails_blob_path(@requisicao_ti.decreto, disposition: "inline"), target: '_blank', class: 'form-control', readonly: true %>
    <% else %>
      <span class='form-control' readonly='readonly'>Sem documento</span>
    <% end %>
  </div>

  <div class="form-group d-none" id="prodoc">
    <%= label_tag 'Prodoc da Requisição' %>
    <% if !@requisicao_ti.prodoc.blank? %>
      <%= link_to 'Clique aqui', rails_blob_path(@requisicao_ti.prodoc, disposition: "inline"), target: '_blank', class: 'form-control', readonly: true %>
    <% else %>
      <span class='form-control' readonly='readonly'>Sem documento</span>
    <% end %>
  </div> 

  <div class="form-group">
    <%= label_tag "Observações" %>
    <%= text_area_tag '', (@requisicao_ti.observacoes.html_safe if @requisicao_ti.observacoes), class: "form-control", readonly: true %>
  </div>

  <% unless @requisicao_ti.status.in? ['Solicitada', 'Cancelada']%>
    <div class="form-group">
      <%= label_tag "Responsável Técnico" %>
      <%= text_field_tag '',(@requisicao_ti.tecnico.nome if @requisicao_ti.tecnico), class: "form-control", readonly: true %>
    </div>
  <% end %>

  <% if @requisicao_ti.status.in? ['Concluída', 'Finalizada']%>
    <div class="form-group">
      <%= label_tag "Parecer Técnico" %>
      <%= text_area_tag '',(@requisicao_ti.solucao if @requisicao_ti.solucao), class: "form-control", readonly: true %>
    </div>
  <% end %>

  <% if @requisicao_ti.status == 'Finalizada'%>
    <div class="form-group">
      <%= label_tag "Sua avaliação sobre a requisição" %>
      <%= text_field_tag '',(@requisicao_ti.avaliacao if @requisicao_ti.avaliacao), class: "form-control", readonly: true %>
    </div>

    <div class="form-group">
      <%= label_tag "Seu comentario sobre a requisição" %>
      <%= text_area_tag '',(@requisicao_ti.comentario if @requisicao_ti.comentario), class: "form-control", readonly: true %>
    </div>
  <% end %>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="icon fas fa-ban"></i> Fechar</button>
  </div>

</div>

<script>
  $(document).ready(function() {
    function limpar_area(){
      $('#nome-email').addClass('d-none')
      $('#cpf-rg').addClass('d-none')
      $('#nascimento').addClass('d-none')
      $('#celular').addClass('d-none')
      $('#cargo-funcao').addClass('d-none')
      $('#estado-municipio').addClass('d-none')
      $('#inicio-fim').addClass('d-none')
      $('#unidade').addClass('d-none')
      $('#perfil').addClass('d-none')
      $('#carta').addClass('d-none')
      $('#decreto').addClass('d-none')
      $('#destino').addClass('d-none')
      $('#nae').addClass('d-none')

      $('#prodoc').addClass('d-none')
      $('#nome_arquivo').addClass('d-none')
      $('#permissao_drive').addClass('d-none')
    }

    function carregar_area(nome){
      limpar_area()
      switch (nome){
        case 'PRODOC - CADASTRO':
          $('#nome-email').removeClass('d-none')
          $('#cpf-rg').removeClass('d-none')
          $('#nascimento').removeClass('d-none')
          $('#celular').removeClass('d-none')
          $('#cargo-funcao').removeClass('d-none')
          $('#estado-municipio').removeClass('d-none')
          $('#perfil').removeClass('d-none')
          $('#carta').removeClass('d-none')
          $('#decreto').removeClass('d-none')
          $('#destino').removeClass('d-none')
          break
        case 'PRODOC - SUBSTITUIÇÃO':
          $('#nome-email').removeClass('d-none')
          $('#inicio-fim').removeClass('d-none')
          break
        case 'PRODOC - RETIRADA':
          $('#nome-email').removeClass('d-none')
          break
        case 'PRODOC - TROCAR SENHA':
          $('#nome-email').removeClass('d-none')
          break
        case 'PRODOC - ALTERAR PERFIL':
          $('#nome-email').removeClass('d-none')
          $('#perfil').removeClass('d-none')
          break
        case 'PRODOC - LIBERAR ACESSO':
          $('#nome-email').removeClass('d-none')
          $('#cargo-funcao').removeClass('d-none')
          $('#inicio-fim').removeClass('d-none')
          $('#perfil').removeClass('d-none')
          break
        case 'WEBMAIL - CADASTRO':
          $('#nome-email').removeClass('d-none')
          $('#cargo-funcao').removeClass('d-none')
          $('#unidade').removeClass('d-none')
          break
        case 'WEBMAIL - TROCAR SENHA':
          $('#nome-email').removeClass('d-none')
          break
        case 'SISCOM - CADASTRO':
          $('#nome-email').removeClass('d-none')
          $('#cargo-funcao').removeClass('d-none')
          $('#unidade').removeClass('d-none')
          $('#carta').removeClass('d-none')
          $('#decreto').removeClass('d-none')
          break
        case 'SISCOM - TROCAR SENHA':
          $('#nome-email').removeClass('d-none')
          break
        case 'SIGDOC - SOLICITAR PERMISSÃO DE ACESSO':
          $('#nome-email').removeClass('d-none')
          $('#unidade').removeClass('d-none')
          $('#celular').removeClass('d-none')
          $('#nae').removeClass('d-none')
          break
        case 'SIGDOC - DESABILITAR PERMISSÃO':
          $('#nome-email').removeClass('d-none')
          $('#unidade').removeClass('d-none')
          break
        case 'ADICIONAR USUARIO NO DOMINIO':
          $('#nome-email').removeClass('d-none')
          $('#carta').removeClass('d-none')
          $('#decreto').removeClass('d-none')
          $('#destino').removeClass('d-none')
          break  
        case 'ACESSO A PASTA COMPARTILHADA':
          $('#nome-email').removeClass('d-none')
          $('#destino').removeClass('d-none')
          break    
        case 'GOOGLE DRIVE - Solicitar Permissão de Acesso':
          $('#nome-email').removeClass('d-none')
          $('#destino').removeClass('d-none')
          $('#prodoc').removeClass('d-none')
          $('#permissao_drive').removeClass('d-none')
          break
        case 'GOOGLE DRIVE – Solicitar Exclusão de Documentos':
          $('#destino').removeClass('d-none')
          $('#prodoc').removeClass('d-none')
          $('#nome_arquivo').removeClass('d-none')
          break
      }
    }

    let problemaSelecionado = '<%= @requisicao_ti.problema_ti.nome %>'
    carregar_area(problemaSelecionado)

  });
</script>
