<ul class="nav nav-pills">
  <li class="nav-item">
    <%= link_to "Solicitadas (#{contagem_requisicoes[0]})", nuinfo_requisicao_tis_path(status: 1), class: "nav-link #{'active' if status.to_i == 1}", remote: true %>
  </li>
  <li class="nav-item">
    <%= link_to "Em atendimento (#{contagem_requisicoes[1]})", nuinfo_requisicao_tis_path(status: 2), class: "nav-link #{'active' if status.to_i == 2}", remote: true %>
  </li>
  <li class="nav-item">
    <%= link_to "Concluídas (#{contagem_requisicoes[2]})", nuinfo_requisicao_tis_path(status: 3), class: "nav-link #{'active' if status.to_i == 3}", remote: true %>
  </li>
  <li class="nav-item">
    <%= link_to "Canceladas (#{contagem_requisicoes[3]})", nuinfo_requisicao_tis_path(status: 4), class: "nav-link #{'active' if status.to_i == 4}", remote: true %>
  </li>
  <li class="nav-item">
    <%= link_to "Finalizadas (#{contagem_requisicoes[4]})", nuinfo_requisicao_tis_path(status: 5), class: "nav-link #{'active' if status.to_i == 5}", remote: true %>
  </li>
</ul>

<br/>
<table id="data-table" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Data/Hora criação</th>
      <% if status.to_i >= 2 and status.to_i != 4 %>
        <th>Data/Hora em atendimento</th>
      <% end %>
      <% if status.to_i >= 3 and status.to_i != 4 %>
        <th>Data/Hora concluida</th>
      <% end %>
      <% if status.to_i > 4 %>
        <th>Data/Hora finalizada</th>
      <% end %>
      <th>Problema</th>
      <th>Usuário</th>
      <th>Unidade</th>
      <% if [2,3,5].include? status.to_i %>
        <th>Responsável Técnico</th>
      <% end %>
      <% if status.to_i == 5 %>
        <th>Avaliação</th>
      <% end %>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody id="data-table-body">
    <% requisicoes.each do |requisicao_ti| %>
      <%= status.to_i %>
      <tr>
        <td><%= requisicao_ti.created_at.strftime("%d/%m/%Y %H:%M") if requisicao_ti.created_at %></td>
        <% if status.to_i >= 2 and status.to_i != 4 %>
          <td><%= requisicao_ti.data_hora_em_atendimento.strftime("%d/%m/%Y %H:%M") if requisicao_ti.data_hora_em_atendimento %></td>
        <% end %>
        <% if status.to_i >= 3 and status.to_i != 4 %>
          <td><%= requisicao_ti.data_hora_concluida.strftime("%d/%m/%Y %H:%M") if requisicao_ti.data_hora_concluida %></td>
        <% end %>
        <% if status.to_i > 4  %>
          <td><%= requisicao_ti.data_hora_finalizado.strftime("%d/%m/%Y %H:%M") if requisicao_ti.data_hora_finalizado %></td>
        <% end %>
        <td><%= requisicao_ti.problema_ti.nome if requisicao_ti.problema_ti %></td>
        <td><%= requisicao_ti.user.nome if requisicao_ti.user %></td>
        <td><%= requisicao_ti.unidade.sigla_nome if requisicao_ti.unidade %></td>
        <% if [2,3,5].include? status.to_i%>
          <td><%= requisicao_ti.tecnico.nome if requisicao_ti.tecnico %></td>
        <% end %>
        <% if status.to_i == 5%>
          <td><%= requisicao_ti.avaliacao if requisicao_ti.avaliacao %></td>
        <% end %>
        <td>
          <%= link_to nuinfo_requisicao_ti_path(requisicao_ti), class: "btn btn-sm btn-default", title: "Ver", remote: true do %>
            <i class="fas fa-eye">&nbsp;Detalhes</i>
          <% end %>
          <% if requisicao_ti.status == "Solicitada" %>
            <%= link_to nuinfo_requisicao_ti_pegar_path(requisicao_ti), data: { confirm: 'Tem certeza?' }, class: "btn btn-sm btn-primary", title: "Pegar"  do %>
              <i class="fas fa-hand-stop-o">&nbsp;Pegar</i>
            <% end %>
          <% end %>
          <% if requisicao_ti.status == "Em atendimento" %>
            <%= link_to concluir_nuinfo_requisicao_ti_path(requisicao_ti), class: "btn btn-sm btn-success", title: "Concluir", remote: true  do %>
              <i class="fas fa-check">&nbsp;Concluir</i>
            <% end %>
          <% end %>
          <% if [2,3,5].include? status.to_i %>
            <%= link_to concluir_nuinfo_requisicao_ti_path(requisicao_ti), class: "btn btn-sm btn-danger", title: "Trocar técnico", remote: true  do %>
              <i class="fas fa-users">&nbsp;Trocar</i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
