<% content_for :title do %>
  <i class="fa fa-star"></i> Requisições últimos 60 dias
<% end %>

<% content_for :breadcrumb do %>
  <li class="breadcrumb-item active"><a href="#">Início</a></li>
<% end %>

<% content_for :sub_title do %>
  Lista de Requisições dos últimos 60 dias (<%= @requisicoes.count %>)
<% end %>

<% if current_user.has_role? :tec_serv_ti %>
  <%= form_tag em_atendimento_nuinfo_requisicao_tis_path, method: :get, class: 'form-horizontal mb-3' do %>
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Pesquisar Requisições</h3>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Data Inicial</label>
          <div class="col-sm-4">
            <%= text_field_tag :data_inicial, (@data_inicial&.strftime("%d/%m/%Y")), class: 'form-control data', placeholder: 'dd/mm/yyyy', autocomplete: 'off' %>
          </div>
          <label class="col-sm-2 col-form-label">Data Final</label>
          <div class="col-sm-4">
            <%= text_field_tag :data_final, (@data_final&.strftime("%d/%m/%Y")), class: 'form-control data', placeholder: 'dd/mm/yyyy', autocomplete: 'off' %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Campo de data</label>
          <div class="col-sm-4">
            <%= select_tag :tipo_data, options_for_select([['Abertura','abertura'],['Conclusão','conclusao'],['Finalização','finalizacao']], params[:tipo_data].presence || 'abertura'), class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Email (quem abriu)</label>
          <div class="col-sm-4">
            <%= text_field_tag :email_abertura, params[:email_abertura], class: 'form-control', placeholder: 'email do usuário' %>
          </div>
          <label class="col-sm-2 col-form-label">Email relacionado</label>
          <div class="col-sm-4">
            <%= text_field_tag :email_relacionado, params[:email_relacionado], class: 'form-control', placeholder: 'email alternativo' %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Nome relacionado</label>
          <div class="col-sm-4">
            <%= text_field_tag :nome_relacionado, params[:nome_relacionado], class: 'form-control', placeholder: 'nome alternativo' %>
          </div>
          <label class="col-sm-2 col-form-label">Técnico</label>
          <div class="col-sm-4">
            <%= select_tag :tecnico_id, options_for_select(@tecnicos, params[:tecnico_id]), include_blank: 'Todos', class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Problema</label>
          <div class="col-sm-4">
            <%= select_tag :problema_ti_id, options_for_select(@problemas, params[:problema_ti_id]), include_blank: 'Todos', class: 'form-control' %>
          </div>
          <label class="col-sm-2 col-form-label">Status</label>
          <div class="col-sm-4">
            <%= select_tag :status, options_for_select([['Solicitada',1],['Em atendimento',2],['Concluída',3],['Cancelada',4],['Finalizada',5]], params[:status]), include_blank: 'Todos', class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <%= link_to 'Limpar', em_atendimento_nuinfo_requisicao_tis_path, class: 'btn btn-default' %>
        <button type="submit" class="btn btn-primary float-right">Buscar</button>
      </div>
    </div>
  <% end %>
  <% if @requisicoes.count >= 1 %>
    <table id="data-table" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Código</th>
          <th>Data/Hora criação</th>
          <th>Problema</th>
          <th>Usuário</th>
          <th>Unidade</th>
          <th>Nome</th>
          <th>Responsável</th>
          <th>Instituição externa</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody id="data-table-body">
        <% @requisicoes.each do |requisicao_ti| %>
          <tr>
            <td><%= requisicao_ti.id %></td>
            <td><%= requisicao_ti.created_at.strftime("%d/%m/%Y %H:%M") if requisicao_ti.created_at %></td>
            <td><%= requisicao_ti.problema_ti.nome if requisicao_ti.problema_ti %></td>
            <td><%= requisicao_ti.user.nome.split.first if requisicao_ti.user %></td>
            <td><%= requisicao_ti.unidade.sigla_nome if requisicao_ti.unidade %></td>
            <td><%= requisicao_ti.nome %></td>
            <td><%= requisicao_ti.tecnico.nome.split.first if requisicao_ti.tecnico %></td>
            <td>
              <% if requisicao_ti.problema_ti&.nome == 'PRODOC - CADASTRO DE INSTITUIÇÃO EXTERNA' %>
                <%= requisicao_ti.prodoc_nome_da_instituicao_externa %>
              <% else %>
                -
              <% end %>
            </td>
            <td><%= requisicao_ti.status %></td>
            <td>
              <%= link_to nuinfo_requisicao_ti_path(requisicao_ti), class: "btn btn-sm btn-default", title: "Ver", remote: true do %>
                <i class="fas fa-eye">&nbsp;Detalhes</i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>  
  