<% content_for :title do %>
  <i class="fa fa-star"></i>Requisições em Atendimento/Concluídas
<% end %>

<% content_for :breadcrumb do %>
  <li class="breadcrumb-item active"><a href="#">Início</a></li>
<% end %>

<% content_for :sub_title do %>
  Lista de Requisições
<% end %>

 
  <% if current_user.has_role? :tec_serv_ti %>    
    <% if @requisicoes.count >= 1 %>    
      <table id="data-table" class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Data/Hora</th>
            <th>Problema</th>
            <th>Usuário</th>
            <th>Unidade</th>
            <th>Responsável</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody id="data-table-body">
          <% @requisicoes.each do |requisicao_ti| %>
            <tr>
              <td><%= requisicao_ti.created_at.strftime("%d/%m/%Y %H:%M") if requisicao_ti.created_at %></td>
              <td><%= requisicao_ti.problema_ti.nome if requisicao_ti.problema_ti %></td>
              <td><%= requisicao_ti.user.nome.split.first if requisicao_ti.user %></td>
              <td><%= requisicao_ti.unidade.sigla_nome if requisicao_ti.unidade %></td>
              <td><%= requisicao_ti.tecnico.nome.split.first if requisicao_ti.tecnico %></td>
              <td><%= requisicao_ti.status %></td>
              <td>
                <%= link_to nuinfo_requisicao_ti_path(requisicao_ti), class: "btn btn-sm btn-default", title: "Ver", remote: true do %>
                  <i class="fas fa-eye">&nbsp;Detalhes</i>
                <% end %>
              </td>
            </tr> 
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
     