<% content_for :title do %>
  <i class="fa fa-star"></i> Estatísticas
<% end %>

<% content_for :breadcrumb do %>
  <li class="breadcrumb-item active"><a href="#">Início</a></li>
<% end %>

<% content_for :sub_title do %>
  Estatísticas de requisições (<%= @requisicoes.count %>)
<% end %>

<% if current_user.has_role? :tec_serv_ti %>
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Formulário de seleção</h3>
    </div>

    <%= form_tag buscar_estatisticas_nuinfo_requisicao_tis_path, class: 'form-horizontal' do %>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Técnico</label>
          <div class="col-sm-10">
            <%= select_tag(:tecnico_id, options_for_select(@tecnicos, (@tecnico ? @tecnico.id : '')), prompt: 'Todos', class: 'form-control') %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Data Inicial</label>
          <div class="col-sm-10">
            <input name="data_inicial" type="text" class="form-control data" id="inputdatainicial" placeholder="dd/mm/yyyy" value="<%= @data_inicial ? @data_inicial.strftime("%d/%m/%Y") : '' %>">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Data Final</label>
          <div class="col-sm-10">
            <input name="data_final" type="text" class="form-control data" id="inputdatafinal" placeholder="dd/mm/yyyy" value="<%= @data_final ? @data_final.strftime("%d/%m/%Y") : '' %>">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Tipo de chamado</label>
          <div class="col-sm-10">
            <% TipoProblemaTi.all.each do |tipo| %>
              <%= check_box_tag("tipo_problemas[]", tipo.id, ((@tipo_problemas and @tipo_problemas.map(&:to_i).include? tipo.id) ? true : false)) %>
              <span style="margin-right: 10px;"><%= tipo.nome %></span>
            <% end %>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-info float-right">Buscar</button>
      </div>

    <% end %>
  </div>


  <% if @requisicoes.count >= 1 %>

    <hr/>

    <h3>Tipo de problema</h3>

    <br>

    <% array_tipo_problemas = [] %>

    <% TipoProblemaTi.all.order(:nome).each do |tp| %>
      <% total = @requisicoes.joins(:problema_ti).where("problema_tis.tipo_problema_ti_id = ?", tp.id).count %>
      <% array_tipo_problemas << [tp.nome, total] %>
    <% end %>

    <% (array_tipo_problemas.sort_by(&:last)).reverse.each do |k,v| %>
      <% if v > 0 %>
        <div class="row">
          <div class="col-lg-3">
            <%= k %>
            <span class="float-right"><%= v %></span>
          </div>
          <div class="col-lg-9">
            <%# Determine a classe CSS com base no nome do tipo de problema %>
            <% progress_bar_class = case k
              when 'SISTEMAS WEB'
                'bg-success'   # Verde
              when 'REDE'
                'bg-danger'    # Vermelho
              when 'HARDWARE'
                'bg-warning'   # Amarelo
              when 'S.O.'
                'bg-info'      # Azul claro
              when 'SISTEMAS WEB (NÃO RESPONSÁVEL)'
                'bg-secondary' # Cinza
              when 'CONECTIVIDADE - ESCOLA'
                'bg-dark'      # Preto
              else
                'bg-primary'   # Azul padrão
            end %>
            <div class="progress mb-3">
              <div class="progress-bar <%= progress_bar_class %>" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="<%= @requisicoes.count %>" style="width: <%= v > 0 ? (((v * 100) / @requisicoes.count).to_i) : 0 %>%">
                <span class=""><%= v > 0 ? (((v * 100) / @requisicoes.count).to_i) : 0 %>%</span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <hr/>

    <h3>Problemas</h3>

    <br>

    <% array_problemas = [] %>

    <% ProblemaTi.all.order(:nome).each do |p| %>
      <% total = @requisicoes.joins(:problema_ti).where("problema_ti_id = ?", p.id).count %>
      <% array_problemas << [p.nome, total, p.tipo_problema_ti.nome] %> 
    <% end %>

    <% (array_problemas.sort_by { |_, total, _| -total }).each do |nome, total, tipo_problema_nome| %> 
      <% if total > 0 %>
        <div class="row">
          <div class="col-lg-3">
            <%= nome %>
            <span class="float-right"><%= total %></span>
          </div>
          <div class="col-lg-9">
            <% progress_bar_class = case tipo_problema_nome
              when 'SISTEMAS WEB'
                'bg-success'   # Verde
              when 'REDE'
                'bg-danger'    # Vermelho
              when 'HARDWARE'
                'bg-warning'   # Amarelo
              when 'S.O.'
                'bg-info'      # Azul claro
              when 'SISTEMAS WEB (NÃO RESPONSÁVEL)'
                'bg-secondary' # Cinza
              when 'CONECTIVIDADE - ESCOLA'
                'bg-dark'      # Preto
              else
                'bg-primary'   # Azul padrão
            end %>
            <div class="progress mb-3">
              <div class="progress-bar <%= progress_bar_class %>" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="<%= @requisicoes.count %>" style="width: <%= total > 0 ? (((total * 100) / @requisicoes.count).to_i) : 0 %>%">
                <span class=""><%= total > 0 ? (((total * 100) / @requisicoes.count).to_i) : 0 %>%</span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <hr/>

    <h3>Técnicos</h3>

    <br>

    <% array_requisicoes_do_tecnico = [] %>

    <% Role.where(name: 'tec_serv_ti').first.users.order(:nome).each do |t| %>
      <% total = @requisicoes.where("tecnico_id = ?", t.id).count %>
      <% array_requisicoes_do_tecnico << [t.nome, total] %>
    <% end %>

    <% (array_requisicoes_do_tecnico.sort_by(&:last)).reverse.each do |k,v| %>
      <% if v > 0 %>
        <div class="row">
          <div class="col-lg-3">
            <%= k %>
            <span class="float-right"><%= v %></span>
          </div>
          <div class="col-lg-9">
            <div class="progress mb-3">
              <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="<%= @requisicoes.count %>" style="width: <%= v > 0 ? (((v * 100) / @requisicoes.count).to_i) : 0 %>%">
                <span class=""><%= v > 0 ? (((v * 100) / @requisicoes.count).to_i) : 0 %>%</span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <hr/>

    <h3>Unidades</h3>

    <br>

    <% array_requisicoes_da_unidade = [] %>

    <% requisicoes_unidade = @requisicoes.collect {|r| r.unidade } %>

    <% requisicoes_unidade.uniq.each do |u| %>
      <% total = @requisicoes.where("unidade_id = ?", u.id).count %>
      <% array_requisicoes_da_unidade << [u.nome, total] %>
    <% end %>

    <% (array_requisicoes_da_unidade.sort_by(&:last)).reverse.each do |k,v| %>
      <% if v > 0 %>
        <div class="row">
          <div class="col-lg-3">
            <%= k %>
            <span class="float-right"><%= v %></span>
          </div>
          <div class="col-lg-9">
            <div class="progress mb-3">
              <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="<%= @requisicoes.count %>" style="width: <%= v > 0 ? (((v * 100) / @requisicoes.count).to_i) : 0 %>%">
                <span class=""><%= v > 0 ? (((v * 100) / @requisicoes.count).to_i) : 0 %>%</span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <hr>
    
    <h3>Mês/Ano</h3>

    <% mes_ano_nome = [] %>
    <% mes_ano_quantidade = [] %>
    <% mes_ano_total = 0 %>

    <% cont = 0 %>

    <% if @data_inicial == nil %>
      <% @data_inicial = @requisicoes.order("created_at ASC").first.created_at.beginning_of_month %>
    <% end %> 

    <% if @data_final == nil %>
      <% @data_final = @requisicoes.order("created_at ASC").last.created_at.end_of_month %>
    <% end %> 

    <% data_atual = @data_inicial.beginning_of_month %>
    <% data_final = @data_final.end_of_month %>
    
    <% begin %>
      
      <% mes_ano_nome[cont] = data_atual.strftime("%m/%Y") %>
      <% mes_ano_quantidade[cont] = @requisicoes.where("requisicao_tis.created_at >= ? and requisicao_tis.created_at <= ?", data_atual, data_atual.end_of_month).count %>
    
      <% data_atual = data_atual + 1.month %>
      
      <% mes_ano_total += mes_ano_quantidade[cont] %>
      <% cont += 1 %>

    <% end while data_atual < data_final %>

    <% for i in 0..cont do %>
      <% if mes_ano_quantidade[i] and mes_ano_quantidade[i] > 0 %>
        <div class="row">
          <div class="col-lg-3">
            <%= mes_ano_nome[i] %>
            <span class="float-right"><%= mes_ano_quantidade[i] %></span>
          </div>
          <div class="col-lg-9">
            <div class="progress mb-3">
              <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="<%= mes_ano_total %>" style="width: <%= mes_ano_quantidade[i] > 0 ? (((mes_ano_quantidade[i] * 100) / mes_ano_total).to_i) : 0 %>%">
                <span class=""><%= mes_ano_quantidade[i] > 0 ? (((mes_ano_quantidade[i] * 100) / mes_ano_total).to_i) : 0 %>%</span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <hr>

    <h3>Ações</h3>

    <% if @acoes.present? %>
      <table class="table">
        <tr>
          <th>Nome</th>
          <th>Período</th>
          <th>Local</th>
          <th>Participantes</th>
          <th>Status</th>
        </tr>
        <% @acoes.each do |acao| %>
          <tr>
            <td><%= acao.nome %></td>
            <td><%= acao.inicio.strftime('%d/%m/%Y') %> à <%= acao.termino.strftime('%d/%m/%Y') %></td>
            <td><%= acao.local.present? ? acao.local : 'Não informado' %></td>
            <%
              usuarios = []
              acao.etapas.each do |etapa|
                etapa.etapa_users.each do |eu|
                  usuarios << eu.user
                end
              end
            %>
            <td>
              <% usuarios.each do |user| %>
                <div><%= user.nome %></div>
              <% end %>
            </td>
            <td><%= acao.status %></td>
          </tr>
        <% end %>
      </table>

      <hr>

      <h3><%= link_to "Ações com Etapas", relatorio_geral_acoes_path, target: '_blank' %></h3>

      <table class="table">
        <% @acoes.each do |acao| %>
          <tr>
            <th><%= acao.nome %></th>
            <th><%= acao.inicio.strftime('%d/%m/%Y') %> à <%= acao.termino.strftime('%d/%m/%Y') %></th>
            <th><%= acao.local.present? ? acao.local : 'Não informado' %></th>
            <th><%= acao.status %></th>
          </tr>
          <% acao.etapas.order(inicio: :asc, termino: :asc).each do |etapa| %>
            <tr>
              <td><%= etapa.nome %></td>
              <td><%= etapa.inicio.strftime('%d/%m/%Y') %> à <%= etapa.termino.strftime('%d/%m/%Y') %></td>
              <%
                usuarios = []
                etapa.etapa_users.each do |eu|
                  usuarios << eu.user
                end
              %>
              <td>
                <% usuarios.each do |user| %>
                  <div><%= user.nome %></div>
                <% end %>
              </td>
              <td><%= etapa.status %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    <% end %>

  <% end %>
<% end %>

