<p id="notice"><%= notice %></p>

<h1>Problema Tis</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th>Tipo problema ti</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @problema_tis.each do |problema_ti| %>
      <tr>
        <td><%= problema_ti.nome %></td>
        <td><%= problema_ti.descricao %></td>
        <td><%= problema_ti.tipo_problema_ti_id %></td>
        <td><%= link_to 'Show', problema_ti %></td>
        <td><%= link_to 'Edit', edit_problema_ti_path(problema_ti) %></td>
        <td><%= link_to 'Destroy', problema_ti, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Problema Ti', new_problema_ti_path %>
