<div class="modal-body">
  <%= form_for @servico_transporte, remote: true do |f| %>
    <% if @servico_transporte.errors.any? %>
      
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-ban"></i> Ops! Algo deu errado.
          
        </h5>
      </div>
    <% end %> 

    <%= @requisicao_transporte.id %>
    
    <%= f.hidden_field :requisicao_transporte_id, value: @requisicao_transporte.id %>
    <%= f.hidden_field :status, value: "em_servico" %>
    
    <div class="form-group">
      <%= f.label :km_inicial, "Km Inicial" %>
      <%= f.text_field :km_inicial, class: "form-control", required: true %>
      <%= has_error(@servico_transporte, :km_inicial) %>
    </div>

    <div class="form-group">
      <%= f.label :veiculo_id %>
      <%= f.select :veiculo_id, Veiculo.com_status(2).order(placa: :asc).all.map{ |v| ["#{v.placa} - #{v.modelo}", v.id] }, { include_blank: true }, { class: "form-control", required: true } %>
      <%= has_error(@servico_transporte, :veiculo_id) %>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-success" data-disable-with="Salvar"><i class="icon fa fa-check"></i> Salvar</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="icon fas fa-ban"></i> Cancelar</button>
    </div>
  <% end %>
</div>