<% content_for :title do %>
  Seja bem-vindo ao Siscom
<% end %>

<% content_for :breadcrumb do %>
  <li class="breadcrumb-item active"><a href="#">Início</a></li>
<% end %>

<% content_for :sub_title do %>
  Início
<% end %>

<div class="card-header">
  <h3 class="card-title">
    <% if @requisicao_tis.count >= 1 %>
      <h5>
        Você possui <%= @requisicao_tis.count %> <%= @requisicao_tis.count > 1 ? "requisições" : "requisição" %> de T.I.
        <%= link_to new_requisicao_ti_path, class: "btn btn-success float-right", title: "Novo Requisiço de ti", remote: true do %>
          <i class="fas fa-plus"></i> Nova requisição T.I.
        <% end %>
      </h5>
    <% else %>
      <h5>
        Você não possui requisições de T.I. no momento.
        <%= link_to new_requisicao_ti_path, class: "btn btn-success float-right", title: "Novo Requisiço de ti", remote: true do %>
          <i class="fas fa-plus"></i> Nova requisição T.I.
        <% end %>
      </h5>
    <% end %>
  </h3>
</div>
<br/>

<% if @requisicao_tis.count >= 1 %>
  <div class="row">  
  <% @requisicao_tis.each do |requisicao| %>    
    <div class="col-lg-6">
      <div class="small-box bg-danger">
        <div class="inner">
          <p><b>Status: </b><%= requisicao.status %></p>
          <p><b>Solicitação: </b><%= requisicao.problema_ti.nome %></p>
          <p><b>Data: </b><%= requisicao.created_at.strftime("%d/%m/%Y") %></p>
          <p><b>Responsável: </b><%= requisicao.tecnico ? requisicao.tecnico.nome.split.first : "Aguardando..."%></p>
        </div>
        <div class="icon">
          <i class="fas fa-desktop"></i>
        </div>
        <a href="<%= requisicao_tis_path(status: pegar_status(requisicao.status)) %>" class="small-box-footer">
          Mais detalhes <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>    
  <% end %>
  </div>
<% end %>

<hr/>

<div class="card-header">
  <h3 class="card-title">
    <% if @requisicoes_ti_abertas.count >= 1 %>
      <h5 class="text-danger"><b><%= @requisicoes_ti_abertas.count %></b> <%= @requisicoes_ti_abertas.count > 1 ? "Requisições" : "Requisição" %> de T.I. em aberto:</h5>
    <% else %>
      <h5>Sem requisições de T.I. em aberto no momento.</h5>
    <% end %>
  </h3>
</div>
<br/>

<% if current_user.has_role? :tec_serv_ti %>
  <% if @requisicoes_ti_abertas.count >= 1 %>    
    <table id="data-table" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Data/Hora</th>
          <th>Problema</th>
          <th>Usuário</th>
          <th>Unidade</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody id="data-table-body">
        <% @requisicoes_ti_abertas.each do |requisicao_ti| %>
          <tr>
            <td><%= requisicao_ti.created_at.strftime("%d/%m/%Y %H:%M") if requisicao_ti.created_at %></td>
            <td><%= requisicao_ti.problema_ti.nome if requisicao_ti.problema_ti %></td>
            <td><%= requisicao_ti.user.nome.split.first if requisicao_ti.user %></td>
            <td><%= requisicao_ti.unidade.sigla if requisicao_ti.unidade %></td>
            <td>
              <%= link_to nuinfo_requisicao_ti_path(requisicao_ti), class: "btn btn-sm btn-default", title: "Ver", remote: true do %>
                <i class="fas fa-eye"></i>
              <% end %>
              <% if requisicao_ti.status == "Solicitada" %>
                <%= link_to nuinfo_requisicao_ti_pegar_path(requisicao_ti), data: { confirm: 'Tem certeza?' }, class: "btn btn-sm btn-primary", title: "Pegar"  do %>
                  <i class="fas fa-reply"></i>
                <% end %>
              <% end %>
            </td>
          </tr> 
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
  