<div class="modal-body">

  <%= form_for @veiculo, remote: true do |f| %>
    <% if @veiculo.errors.any? %>
      <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h5><i class="icon fas fa-ban"></i> Ops! Algo deu errado.</h5>
        </div>
    <% end %> 
        <div class="form-group">
          <%= f.label :placa %>
          <%= f.text_field :placa, autocomplete: "Placa", placeholder: "Digite a placa", class: "form-control", required: true  %>
          <%= has_error(@veiculo, :placa) %>
        </div>

        <div class="form-group">
          <%= f.label :marca %>
          <%= f.text_field :marca, autocomplete: "Marca", placeholder: "Digite a marca do veículo", class: "form-control", required: true  %>
          <%= has_error(@veiculo, :marca) %>
        </div>

        <div class="form-group">
          <%= f.label :modelo %>
          <%= f.text_field :modelo, autocomplete: "Sigla", placeholder: "Digite o modelo do veículo", class: "form-control", required: true  %>
          <%= has_error(@veiculo, :modelo) %>
        </div>

        <div class="form-group">
          <%= f.label :combustivel %>
          <%= f.number_field :combustivel, class: "form-control", required: true  %>
          <%= has_error(@veiculo, :combustivel) %>
        </div>

        <div class="form-group">
          <%= f.label :capacidade %>
          <%= f.number_field :capacidade, class: "form-control", required: true  %>
          <%= has_error(@veiculo, :capacidade) %>
        </div>

        <div class="form-group">
          <%= f.label :carga %>
          <%= f.number_field :carga, class: "form-control", required: true  %>
          <%= has_error(@veiculo, :carga) %>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-success" data-disable-with="Salvar"><i class="icon fa fa-check"></i> Salvar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="icon fas fa-ban"></i> Cancelar</button>
        </div>
  
  <% end %>
</div>