<p id="notice"><%= notice %></p>

<p>
  <strong>Placa:</strong>
  <%= @veiculo.placa %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @veiculo.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @veiculo.modelo %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @veiculo.modelo %>
</p>

<p>
  <strong>Combustivel:</strong>
  <%= @veiculo.combustivel %>
</p>

<p>
  <strong>Consumo:</strong>
  <%= @veiculo.consumo %>
</p>

<p>
  <strong>Capacidade:</strong>
  <%= @veiculo.capacidade %>
</p>

<p>
  <strong>Carga:</strong>
  <%= @veiculo.carga %>
</p>

<p>
  <strong>Quantidade de serviços:</strong>
  <%= @veiculo.servico_transportes.count %>
</p>

<p>
  <strong>Status:</strong>
  <%= @veiculo.status %>
</p>

<%= link_to 'Edit', edit_veiculo_path(@veiculo) %> |
<%= link_to 'Back', veiculos_path %>
