<!-- app/views/transporte_escolar/contratos/_form.html.erb -->

<div class="modal-body">

  <%= form_for @contrato, remote: true do |f| %>
    
    <% if @contrato.errors.any? %>
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-ban"></i> Ops! Algo deu errado.</h5>
      </div>
      <% if @contrato.errors[:base].any? %>
        <div class="alert alert-info alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h6><i class="icon fas fa-info"></i><%= @contrato.errors[:base].to_sentence %></h6>
        </div>
      <% end %>
    <% end %>

    <div class="form-group">
      <%= f.label :codigo, "Código/Número do contrato" %>
      <%= f.text_field :codigo, class: "form-control", required: true %>
      <%= has_error(@contrato, :codigo) %>
    </div>

    <div class="form-group">
      <%= f.label :rota %>
      <%= f.text_field :rota, class: "form-control" %>
      <%= has_error(@contrato, :rota) %>
    </div>

    <div class="form-group">
      <%= f.label :descricao %>
      <%= f.text_area :descricao, class: "form-control", required: true %>
      <%= has_error(@contrato, :descricao) %>
    </div>

    <div class="form-group">
      <%= f.label :inicio %>
      <%= f.text_field :inicio, class: "form-control data", required: true, value: @contrato&.inicio&.strftime("%d/%m/%Y") %>
      <%= has_error(@contrato, :inicio) %>
    </div>

    <div class="form-group">
      <%= f.label :fim %>
      <%= f.text_field :fim, class: "form-control data", required: true, value: @contrato&.fim&.strftime("%d/%m/%Y") %>
      <%= has_error(@contrato, :fim) %>
    </div>

    <div class="form-group">
      <%= f.label :valor_total %>
      <%= f.text_field :valor_total, value: number_with_precision(@contrato&.valor_total, precision: 2), class: "form-control dinheiro", required: true %>
      <%= has_error(@contrato, :valor_total) %>
    </div>

    <div class="form-group">
      <%= f.label :valor_diaria %>
      <%= f.text_field :valor_diaria, value: number_with_precision(@contrato&.valor_diaria, precision: 2), class: "form-control dinheiro", required: true %>
      <%= has_error(@contrato, :valor_diaria) %>
    </div>

    <div class="form-group">
      <%= f.label :transportador_id, "Transportador" %>
      <%= f.select :transportador_id, @transportadores, { include_blank: true }, { class: "form-control js-searchable", required: true } %>
      <%= has_error(@contrato, :transportador_id) %>
    </div>

    <div class="form-group">
      <%= f.label :escola_id, "Escola" %>
      <%= f.select :escola_id, @escolas, { include_blank: true }, { class: "form-control js-searchable", required: true } %>
      <%= has_error(@contrato, :escola_id) %>
    </div>

    <div class="form-group">
      <%= f.label :veiculo_id, "Veículo" %>
      <%= f.select :veiculo_id, @veiculos, { include_blank: true }, { class: "form-control js-searchable", required: true } %>
      <%= has_error(@contrato, :veiculo_id) %>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-success" data-disable-with="Salvar"><i class="icon fa fa-check"></i> Salvar</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="icon fas fa-ban"></i> Cancelar</button>
    </div>

  <% end %>    

  <script>
    $(document).ready(function() {
      $('.js-searchable').select2({
        placeholder: "Selecione",
        allowClear: true,
        theme: 'bootstrap',
        width: '100%'
      });
    });
  </script>

</div>
