<p id="notice"><%= notice %></p>

<h1>Requisicao Transportes</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>User</th>
      <th>Departamento</th>
      <th>Tipo</th>
      <th>Documento viagem</th>
      <th>Data hora ida</th>
      <th>Data hora retorno</th>
      <th>Motivo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requisicao_transportes.each do |requisicao_transporte| %>
      <tr>
        <td><%= requisicao_transporte.status %></td>
        <td><%= requisicao_transporte.user_id %></td>
        <td><%= requisicao_transporte.departamento_id %></td>
        <td><%= requisicao_transporte.tipo %></td>
        <td><%= requisicao_transporte.documento_viagem %></td>
        <td><%= requisicao_transporte.data_hora_ida %></td>
        <td><%= requisicao_transporte.data_hora_retorno %></td>
        <td><%= requisicao_transporte.motivo %></td>
        <td><%= link_to 'Show', requisicao_transporte %></td>
        <td><%= link_to 'Edit', edit_requisicao_transporte_path(requisicao_transporte) %></td>
        <td><%= link_to 'Destroy', requisicao_transporte, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Requisicao Transporte', new_requisicao_transporte_path %>
