<% content_for :title do %>
  <i class="fa fa-car"></i> Requisições de Transporte
<% end %>
<% content_for :breadcrumb do %>
  <li class="breadcrumb-item active"><a href="<%= requisicao_transportes_url %>">Requisições de transporte</a></li>
<% end %>
<% content_for :sub_title do %>
  Lista de Requisições
<% end %>
<% content_for :buttons do %>
  <%= link_to new_requisicao_transporte_path(tipo_solicitacao: 'urgente'), class: "btn btn-sm btn-warning", title: "Novo Requisiço de transporte", remote: true do %>
    <i class="fas fa-bolt"></i> Urgente
  <% end %>
  <%= link_to new_requisicao_transporte_path(tipo_solicitacao: 'normal'), class: "btn btn-sm btn-success", title: "Novo Requisiço de transporte", remote: true do %>
    <i class="fas fa-calendar-check"></i> Dia seguinte
  <% end %>
  <%= link_to new_requisicao_transporte_path(tipo_solicitacao: 'viagem'), class: "btn btn-sm btn-primary", title: "Novo Requisiço de transporte", remote: true do %>
    <i class="fas fa-calendar-day"></i> Viagem
  <% end %>
<% end %>

<div id='requisicoes'>
  <%= render 'requisicoes', requisicoes: @requisicao_transportes, status: @status, contagem_requisicoes: @contagem_requisicoes %>  
</div>
