<tr id="row_acao_<%= acao.id %>">
  <td><%= acao.nome %></td>
  <td><%= acao.inicio %></td>
  <td><%= acao.fim %></td>
  <td><%= acao.status %></td>
  <td><%= acao.acao_users&.first&.user&.nome&.split&.first %></td>
  <td><%= acao.acao_users&.first&.user&.unidade&.sigla %></td>
  <td><%= acao.mostrar_no_site ? 'SIM' : 'NÃO' %></td>
  <td>
    <%= link_to acao, class: "btn btn-sm btn-default", title: "Ver"  do %>
      <i class="fas fa-eye"></i>
    <% end %>
    <%= link_to edit_acao_path(acao), class: "btn btn-sm btn-primary", title: "Editar", remote: true  do %>
      <i class="fas fa-edit"></i>
    <% end %>
    <%= link_to acao, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-sm btn-danger", title: "Excluir"  do %>
      <i class="fas fa-trash"></i>
    <% end %>
    <%= link_to acao_etapas_path(acao), class: "btn btn-sm btn-success", title: "Etapas"  do %>
      <i class="fa fa-chart-pie"></i> Etapas (<%= acao.etapas.count %>)
    <% end %>
  </td>
</tr>
