<% content_for :title do %>
  <i class="fa fa-users"></i> Usuários
<% end %>
<% content_for :breadcrumb do %>
  <li class="breadcrumb-item active"><a href="<%= usuarios_url %>">Usuários</a></li>
<% end %>
<% content_for :sub_title do %>
  Lista de usuários
<% end %>
<% if current_user.has_any_role? :tec_serv_ti, :admin, :master %>
  <% content_for :buttons do %>
    <%= link_to new_usuario_path, class: "btn btn-sm btn-success", title: "Novo Usuário", remote: true do %>
      <i class="fas fa-plus"></i> Novo
    <% end %>
  <% end %>
<% end %>

<table id="data-table" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Unidade</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody id="data-table-body">
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nome %></td>
        <td><%= usuario.email %></td>
        <td><%= usuario.unidade.sigla ||= "SEM UNIDADE." %></td>
        <td>
          <%= link_to edit_usuario_path(usuario), class: "btn btn-sm btn-primary", title: "Editar", remote: true  do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <% if current_user.has_any_role? :tec_serv_ti, :admin, :master %>
            <%= link_to resetar_senha_usuario_path(usuario), data: { confirm: 'Tem certeza?' }, class: "btn btn-sm btn-warning", title: "Resetar Senha"  do %>
              <i class="fas fa-sync-alt"></i>
            <% end %>
            <% if usuario.status == true %>
              <%= link_to usuario_path(usuario), method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-sm btn-danger", title: "Desativar"  do %>
                <i class="fas fa-close"></i>
              <% end %>
            <% else %>
              <%= link_to usuario_path(usuario), method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-sm btn-success", title: "Reativar"  do %>
                <i class="fas fa-check"></i>
              <% end %>
            <% end %>
          <% end %>
          <% if current_user.has_role? :tec_serv_tp %>
            <% unless usuario.has_role? :req_serv_tp %>
              <%= link_to tornar_requisitante_transporte_usuario_path(usuario), data: { confirm: 'Adicionar permissão?' }, class: "btn btn-sm btn-default", title: "Tornar requisitante de serviço de transporte"  do %>
                <i class="fas fa-car"></i> Requisitante
              <% end %>
            <% else %>
              <%= link_to tornar_requisitante_transporte_usuario_path(usuario, remove: true), data: { confirm: 'Remover permissão?' }, class: "btn btn-sm btn-danger", title: "Remover permissão requisitante de serviço de transporte"  do %>
                <i class="fas fa-car"></i> Remover Requisitante
              <% end %>
            <% end %>
            <% unless usuario.has_role? :tec_serv_tp %>
              <%= link_to tornar_tecnico_transporte_usuario_path(usuario), data: { confirm: 'Adicionar permissão?' }, class: "btn btn-sm btn-default", title: "Tornar técnico de serviço de transporte"  do %>
                <i class="fas fa-user"></i> Técnico
              <% end %>
            <% else %>
              <%= link_to tornar_tecnico_transporte_usuario_path(usuario, remove: true), data: { confirm: 'Remover permissão?' }, class: "btn btn-sm btn-danger", title: "Remover permissão técnico de serviço de transporte"  do %>
                <i class="fas fa-user"></i> Remover Técnico
              <% end %>
            <% end %>
          <% end %>
        </td>
      </tr> 
    <% end %>
  </tbody>
</table>
 
