<!-- app/views/transporte_escolar/veiculos/_veiculo.html.erb -->

<tr>
  <td><%= veiculo.tipo %></td>
  <td><%= veiculo.identificacao %></td>
  <td><%= link_to veiculo.transportador&.nome_ou_razao_social, veiculo.transportador ? veiculo.transportador : '#', remote: true %></td>
  <td><%= link_to veiculo.condutor&.nome, veiculo.condutor ? veiculo.condutor : '#', remote: true %></td>
  <td>
    <%= link_to veiculo, class: "btn btn-sm btn-default", title: "Ver", remote: true do %>
      <i class="fas fa-eye"></i>
    <% end %>
    <%= link_to edit_transporte_escolar_veiculo_path(veiculo), class: "btn btn-sm btn-primary", title: "Editar", remote: true  do %>
      <i class="fas fa-edit"></i>
    <% end %>
    <%= link_to veiculo, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-sm btn-danger", title: "Excluir"  do %>
      <i class="fas fa-trash"></i>
    <% end %>
  </td>
</tr>
