<% content_for :title do %>
  <i class="fa fa-home"></i> Patio
<% end %>
<% content_for :breadcrumb do %>
  <li class="breadcrumb-item active"><a href="<%= patio_index_url %>">Patio</a></li>
<% end %>
<% content_for :sub_title do %>
  Patio
<% end %>
<% content_for :buttons do %>



  
  <%= form_tag("/patio/entrada", method: "get") do %>
    <div class="form-row align-items-center">
      
      
      <div class="col-auto my-1">
        <label class="mr-sm-2 sr-only" for="veiculo_id">Veículo</label>
        <select name="veiculo_id" class="custom-select mr-sm-2" id="veiculo_id">
          <option selected>Selecione o veiculo...</option>
          <% @veiculos_garagem.each do |v| %>
            <option value="<%= v.id %>"><%= v.placa %></option>
          <% end %>
        </select>
      </div>
      <div class="col-auto my-1">
        <label class="mr-sm-2 sr-only" for="motorista_id">Motorista</label>
        <select name="motorista_id" class="custom-select mr-sm-2" id="motorista_id">
          <option selected>Selecione o motorista...</option>
          <% @motoristas_garagem.each do |m| %>
            <option value="<%= m.id %>"><%= m.nome %></option>
          <% end %>
        </select>
      </div>
      <div class="col-auto my-1">
        <button type="submit" class="btn btn-sm btn-success">Entrada</button>
      </div>
    </div>
  <% end %>
<% end %>


<% @veiculos_no_patio.each do |veiculo| %>
  <%= veiculo.placa %>
  <%= link_to "garagem", patio_saida_path(veiculo_id: veiculo.id, motorista_id: veiculo.motorista_id), class: "btn btn-danger" %>
<% end %>


<% @veiculos_em_servico.each do |veiculo| %>
  <%= veiculo.placa %>
<% end %>