<div class="modal-body">
  <p>
    <strong>Nome:</strong>
    <%= @condutor.nome %>
  </p>

  <p>
    <strong>CPF:</strong>
    <%= @condutor.cpf %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= @condutor.tipo %>
  </p>

  <p>
    <strong>Permissão:</strong>
    <%= @condutor.permissao %>
  </p>

  <p>
    <strong>Vencimento:</strong>
    <%= @condutor.vencimento %>
  </p>

  <p>
    <strong>Município:</strong>
    <%= @condutor.municipio.nome %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= @condutor.bairro %>
  </p>

  <p>
    <strong>Logradouro:</strong>
    <%= @condutor.logradouro %>
  </p>

  <p>
    <strong>Número:</strong>
    <%= @condutor.numero %>
  </p>

  <p>
    <strong>CEP:</strong>
    <%= @condutor.cep %>
  </p>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="icon fas fa-ban"></i> Fechar</button>
  </div>
</div>
