<div class="modal-body">

  <%= form_for @requisicao_ti, html: { multipart: true, remote: true } do |f| %>
    <% if @requisicao_ti.errors.any? %>
      <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h5><i class="icon fas fa-ban"></i> Ops! Algo deu errado.</h5>
        </div>
    <% end %>

    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <% if @aviso_requisicao_normal %>
      <div class="alert alert-info alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h5><i class="icon fas fa-info"></i><br/><%= @aviso_requisicao_normal.html_safe() %></h5>
        </div>
    <% end %>

    <%= render 'incidentes' %>

    <div class="form-group">
      <%= f.label :problema_ti_id, "Requisição" %>
      <%= f.hidden_field :problema_ti_id, id: 'requisicao_ti_problema_ti_id' %>
      <%= text_field_tag :problema_ti_nome, (@requisicao_ti.problema_ti&.nome), class: "form-control js-autocomplete-problema", placeholder: 'Digite para buscar a requisição', required: true, autocomplete: 'off' %>
      <%= has_error(@requisicao_ti, :problema_ti_id) %>
    </div>

    <div class="row d-none" id="nome-email">
      <div class="form-group col-md-6">
        <%= f.label :nome, 'Nome completo (* Nome do servidor que será cadastrado.)' %>
        <%= f.text_field :nome, class: "form-control", placeholder: 'Maria Jose dos Santos', required: false %>
        <%= has_error(@requisicao_ti, :nome) %>
      </div>

      <div class="form-group col-md-6">
        <%= f.label :email, 'E-mail (* E-mail ou sugestão de e-mail para o servidor.)' %>
        <%= f.email_field :email, class: "form-control", placeholder: 'maria.santos@seed.ap.gov.br', required: false %>
        <%= has_error(@requisicao_ti, :email) %>
      </div>
    </div>

    <div class="row d-none" id="cpf-rg">
      <div class="form-group col-md-6">
        <%= f.label :cpf %>
        <%= f.text_field :cpf, class: "form-control cpf", placeholder: '000.000.000-00', required: false %>
        <%= has_error(@requisicao_ti, :cpf) %>
      </div>

      <div class="form-group col-md-6">
        <%= f.label :rg %>
        <%= f.text_field :rg, class: "form-control", required: false %>
        <%= has_error(@requisicao_ti, :rg) %>
      </div>
    </div>

    <div>
      <div class="form-group d-none col-md-6" id="nascimento">
        <%= f.label :data_nascimento %>
        <%= f.text_field :data_nascimento, class: "form-control data", placeholder: 'dd/mm/aaaa', required: false %>
        <%= has_error(@requisicao_ti, :data_nascimento) %>
      </div>

      <div class="form-group d-none col-md-6" id="celular">
        <%= f.label :celular %>
        <%= f.text_field :celular, class: "form-control celular", placeholder: '(99) 9999-9999', required: false %>
        <%= has_error(@requisicao_ti, :celular) %>
      </div>
    </div>

    <div class="row d-none" id="cargo-funcao">
      <div class="form-group col-md-6">
        <%= f.label :cargo_id %>
        <%= f.hidden_field :cargo_id, id: 'requisicao_ti_cargo_id' %>
        <%= text_field_tag :cargo_nome, (@requisicao_ti.cargo&.nome), class: "form-control js-autocomplete-cargo", required: false, autocomplete: 'off' %>
        <%= has_error(@requisicao_ti, :cargo_id) %>
      </div>

      <div class="form-group col-md-6">
        <%= f.label :funcao_id %>
        <%= f.hidden_field :funcao_id, id: 'requisicao_ti_funcao_id' %>
        <%= text_field_tag :funcao_nome, (@requisicao_ti.funcao&.nome), class: "form-control js-autocomplete-funcao", required: false, autocomplete: 'off' %>
        <%= has_error(@requisicao_ti, :funcao_id) %>
      </div>
    </div>

    <div class="row d-none" id="estado-municipio">
      <div class="form-group col-md-6">
        <%= f.label :estado %>
        <%= f.text_field :estado, class: "form-control js-autocomplete-estado", required: false, autocomplete: 'off' %>
        <%= has_error(@requisicao_ti, :estado) %>
      </div>

      <div class="form-group col-md-6">
        <%= f.label :municipio %>
        <%= f.text_field :municipio, class: "form-control js-autocomplete-municipio", required: false, autocomplete: 'off' %>
        <%= has_error(@requisicao_ti, :municipio) %>
      </div>

    </div>

    <div class="row d-none" id="inicio-fim">
      <div class="form-group col-md-6">
        <%= f.label :periodo_inicio %>
        <%= f.text_field :periodo_inicio, class: "form-control data", placeholder: 'dd/mm/aaaa', required: false %>
        <%= has_error(@requisicao_ti, :periodo_inicio) %>
      </div>

      <div class="form-group col-md-6">
        <%= f.label :periodo_fim %>
        <%= f.text_field :periodo_fim, class: "form-control data", placeholder: 'dd/mm/aaaa', required: false %>
        <%= has_error(@requisicao_ti, :periodo_fim) %>
      </div>
    </div>

    <div class="row">
      <div class="form-group d-none col-md-6" id="unidade">
        <%= f.label :unidade_id %>
        <%= f.hidden_field :unidade_id, id: 'requisicao_ti_unidade_id' %>
        <%= text_field_tag :unidade_nome, (@requisicao_ti.unidade&.nome), class: "form-control js-autocomplete-unidade", required: false, autocomplete: 'off' %>
        <%= has_error(@requisicao_ti, :unidade_id) %>
      </div>

      <% if current_user.unidade.tipo_unidade.nome == "ESCOLA" %>
        <div class="form-group d-none col-md-6" id="nae">
          <%= f.label :nae, "NAE da escola" %>
          <%= f.text_field :nae, class: "form-control", placeholder: 'NAE da escola', required: false %>
          <%= has_error(@requisicao_ti, :nae) %>
        </div>
      <% end %>
    </div>

    <div class="form-group d-none" id="permissao_drive">
      <%= f.label :permissao_drive, 'Permissão na Pasta do Google Drive' %>
      <%= f.text_field :permissao_drive, class: "form-control js-autocomplete-permissao-drive", required: false, autocomplete: 'off' %>
      <%= has_error(@requisicao_ti, :permissao_drive) %>
    </div>

    <div class="form-group d-none" id="destino">
      <%= f.label :unidade_destino, 'Informe a unidade/pasta de destino' %>
      <%= f.text_field :unidade_destino, class: "form-control", placeholder: 'SIGLA - Nome da Unidade', required: false %>
      <%= has_error(@requisicao_ti, :unidade_destino) %>
    </div>

    <div class="form-group d-none" id="nome_arquivo">
      <%= f.label :nome_arquivo, 'Informe o nome do arquivo a ser excluído' %>
      <%= f.text_field :nome_arquivo, class: "form-control", placeholder: 'Nome do arquivo', required: false %>
      <%= has_error(@requisicao_ti, :nome_arquivo) %>
    </div>

    <div class="form-group d-none" id="perfil">
      <%= f.label :perfil %>
      <%= f.text_field :perfil, class: "form-control js-autocomplete-perfil", required: false, autocomplete: 'off' %>
      <%= has_error(@requisicao_ti, :perfil) %>
    </div>

    <div class="form-group d-none" id="carta">
      <%= f.label :carta, 'Carta de apresentação' %>
      <%= f.file_field :carta, { class: "", required: false, direct_upload: true } %>
      <%= has_error(@requisicao_ti, :carta) %>
    </div>

    <div class="form-group d-none" id="decreto">
      <%= f.label :decreto, 'Decreto de nomeação' %>
      <%= f.file_field :decreto, { class: "", required: false, direct_upload: true } %>
      <%= has_error(@requisicao_ti, :decreto) %>
    </div>

    <div class="form-group d-none" id="prodoc">
      <%= f.label :prodoc, 'Prodoc' %>
      <%= f.file_field :prodoc, { class: "", required: false, direct_upload: true } %>
      <%= has_error(@requisicao_ti, :prodoc) %>
    </div>
    
    <div class="form-group">
      <%= f.label :observacoes, 'Observações' %>
      <%= f.text_area :observacoes, class: "form-control", placeholder: 'Descreva sucintamente o tipo de requisição' %>
      <%= has_error(@requisicao_ti, :observacoes) %>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-success" data-disable-with="Salvar"><i class="icon fa fa-check"></i> Salvar</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="icon fas fa-ban"></i> Cancelar</button>
    </div>

  <% end %>
</div>

<script>
  $(document).ready(function() {
    function bindAutocompleteWithHidden(inputSelector, hiddenSelector, url){
      $(inputSelector).autocomplete({
        minLength: 0,
        appendTo: $(inputSelector).closest('.modal-body'),
        position: { my: "left top", at: "left bottom", collision: "none" },
        source: function(request, response){
          $.getJSON(url, { term: request.term }, function(data){
            response($.map(data, function(item){ return { label: item.value, value: item.value, id: item.id }; }));
          });
        },
        select: function(event, ui){
          $(hiddenSelector).val(ui.item.id);
          $(inputSelector).val(ui.item.value).trigger('change');
          return false;
        },
        change: function(event, ui){
          if(!ui.item){ $(hiddenSelector).val(''); }
        }
      }).autocomplete("widget").addClass("ui-autocomplete-modal");
      
      // Mostrar todas as opções quando o campo recebe foco
      $(inputSelector).on('focus', function(){
        $(this).autocomplete("search", "");
      });
      
      $(inputSelector).on('input', function(){ if($(this).val() === '') { $(hiddenSelector).val(''); } });
    }

    function bindAutocompleteSimple(inputSelector, url){
      $(inputSelector).autocomplete({
        minLength: 0,
        appendTo: $(inputSelector).closest('.modal-body'),
        position: { my: "left top", at: "left bottom", collision: "none" },
        source: function(request, response){
          $.getJSON(url, { term: request.term }, function(data){
            response($.map(data, function(item){ return item.value; }));
          });
        }
      }).autocomplete("widget").addClass("ui-autocomplete-modal");
      
      // Mostrar todas as opções quando o campo recebe foco
      $(inputSelector).on('focus', function(){
        $(this).autocomplete("search", "");
      });
    }

    // Bind autocompletes
    bindAutocompleteWithHidden('.js-autocomplete-problema', '#requisicao_ti_problema_ti_id', '/autocompletes/problemas_ti');
    bindAutocompleteWithHidden('.js-autocomplete-cargo', '#requisicao_ti_cargo_id', '/autocompletes/cargos');
    bindAutocompleteWithHidden('.js-autocomplete-funcao', '#requisicao_ti_funcao_id', '/autocompletes/funcoes');
    bindAutocompleteWithHidden('.js-autocomplete-unidade', '#requisicao_ti_unidade_id', '/autocompletes/unidades');
    bindAutocompleteSimple('.js-autocomplete-estado', '/autocompletes/estados');
    bindAutocompleteSimple('.js-autocomplete-municipio', '/autocompletes/municipios');
    bindAutocompleteSimple('.js-autocomplete-permissao-drive', '/autocompletes/permissoes_drive');
    bindAutocompleteSimple('.js-autocomplete-perfil', '/autocompletes/perfis');

    function limpar_area(){
      $('#nome-email').addClass('d-none')
      $('#cpf-rg').addClass('d-none')
      $('#nascimento').addClass('d-none')
      $('#celular').addClass('d-none')
      $('#cargo-funcao').addClass('d-none')
      $('#estado-municipio').addClass('d-none')
      $('#inicio-fim').addClass('d-none')
      $('#unidade').addClass('d-none')
      $('#perfil').addClass('d-none')
      $('#carta').addClass('d-none')
      $('#decreto').addClass('d-none')
      $('#nae').addClass('d-none')

      $('#prodoc').addClass('d-none')
      $('#nome_arquivo').addClass('d-none')
      $('#permissao_drive').addClass('d-none')


    }

    function carregar_area(nome){
      limpar_area()
      switch (nome){
        case 'PRODOC - CADASTRO':
          $('#nome-email').removeClass('d-none')
          $('#cpf-rg').removeClass('d-none')
          $('#nascimento').removeClass('d-none')
          $('#celular').removeClass('d-none')
          $('#cargo-funcao').removeClass('d-none')
          $('#estado-municipio').removeClass('d-none')
          $('#perfil').removeClass('d-none')
          $('#carta').removeClass('d-none')
          $('#decreto').removeClass('d-none')
          $('#destino').removeClass('d-none')
          break
        case 'PRODOC - SUBSTITUIÇÃO':
          $('#nome-email').removeClass('d-none')
          $('#inicio-fim').removeClass('d-none')
          break
        case 'PRODOC - RETIRADA':
          $('#nome-email').removeClass('d-none')
          break
        case 'PRODOC - TROCAR SENHA':
          $('#nome-email').removeClass('d-none')
          break
        case 'PRODOC - ALTERAR PERFIL':
          $('#nome-email').removeClass('d-none')
          $('#perfil').removeClass('d-none')
          break
        case 'PRODOC - LIBERAR ACESSO':
          $('#nome-email').removeClass('d-none')
          $('#cargo-funcao').removeClass('d-none')
          $('#inicio-fim').removeClass('d-none')
          $('#perfil').removeClass('d-none')
          break
        case 'WEBMAIL - CADASTRO':
          $('#nome-email').removeClass('d-none')
          $('#cargo-funcao').removeClass('d-none')
          $('#unidade').removeClass('d-none')
          break
        case 'WEBMAIL - TROCAR SENHA':
          $('#nome-email').removeClass('d-none')
          break
        case 'SISCOM - CADASTRO':
          $('#nome-email').removeClass('d-none')
          $('#cargo-funcao').removeClass('d-none')
          $('#unidade').removeClass('d-none')
          $('#carta').removeClass('d-none')
          $('#decreto').removeClass('d-none')
          break
        case 'SISCOM - TROCAR SENHA':
          $('#nome-email').removeClass('d-none')
          break
        case 'SIGDOC - SOLICITAR PERMISSÃO DE ACESSO':
          $('#nome-email').removeClass('d-none')
          $('#unidade').removeClass('d-none')
          $('#celular').removeClass('d-none')
          $('#nae').removeClass('d-none')
          break
        case 'SIGDOC - DESABILITAR PERMISSÃO':
          $('#nome-email').removeClass('d-none')
          $('#unidade').removeClass('d-none')
          break
        case 'ADICIONAR USUARIO NO DOMINIO':
          $('#nome-email').removeClass('d-none')
          $('#carta').removeClass('d-none')
          $('#decreto').removeClass('d-none')
          $('#destino').removeClass('d-none')
          break
        case 'ACESSO A PASTA COMPARTILHADA':
          $('#nome-email').removeClass('d-none')
          $('#destino').removeClass('d-none')
          break
        case 'GOOGLE DRIVE - Solicitar Permissão de Acesso':
          $('#nome-email').removeClass('d-none')
          $('#destino').removeClass('d-none')
          $('#prodoc').removeClass('d-none')
          $('#permissao_drive').removeClass('d-none')
          break
        case 'GOOGLE DRIVE – Solicitar Exclusão de Documentos':
          $('#destino').removeClass('d-none')
          $('#prodoc').removeClass('d-none')
          $('#nome_arquivo').removeClass('d-none')
          break
      }
    }

    let problemaSelecionado = $('.js-autocomplete-problema').val()
    carregar_area(problemaSelecionado)

    $('.js-autocomplete-problema').on('autocompleteselect change', function(){
      let problemaSelecionado = $('.js-autocomplete-problema').val()
      carregar_area(problemaSelecionado)
    })

    // Adicionar CSS para garantir que o autocomplete apareça acima do modal
    $('<style>')
      .prop('type', 'text/css')
      .html(`
        .ui-autocomplete-modal {
          z-index: 9999 !important;
          max-height: 200px;
          overflow-y: auto;
          overflow-x: hidden;
        }
        .ui-autocomplete-modal .ui-menu-item {
          padding: 8px 12px;
          border-bottom: 1px solid #eee;
          cursor: pointer;
        }
        .ui-autocomplete-modal .ui-menu-item:hover {
          background-color: #f8f9fa;
        }
        .ui-autocomplete-modal .ui-menu-item:last-child {
          border-bottom: none;
        }
      `)
      .appendTo('head');

  });






</script>
