<div class="modal-body">

  <%= form_for @requisicao_ti, remote: true do |f| %>
    <% if @requisicao_ti.errors.any? %>
      <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h5><i class="icon fas fa-ban"></i> Ops! Algo deu errado.</h5>
        </div>
    <% end %>

    <% if @aviso_requisicao_normal %>
      <div class="alert alert-info alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h5><i class="icon fas fa-info"></i><br/><%= @aviso_requisicao_normal.html_safe() %></h5>
        </div>
    <% end %>

    <%= render 'incidentes' %>

    <div class="form-group">
      <%= f.label :problema_ti_id, "Requisição" %>
      <%= f.select :problema_ti_id, @problemas, { include_blank: true }, { class: "form-control js-searchable select2-problema", required: true } %>
      <%= has_error(@requisicao_ti, :problema_ti_id) %>
    </div>

    <div class="row d-none" id="nome-email">
      <div class="form-group col-md-6">
        <%= f.label :nome, 'Nome completo' %>
        <%= f.text_field :nome, class: "form-control", placeholder: 'Maria Jose dos Santos', required: false %>
        <%= has_error(@requisicao_ti, :nome) %>
      </div>

      <div class="form-group col-md-6">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", placeholder: 'maria.santos@seed.ap.gov.br', required: false %>
        <%= has_error(@requisicao_ti, :email) %>
      </div>
    </div>

    <div class="row d-none" id="cpf-rg">
      <div class="form-group col-md-6">
        <%= f.label :cpf %>
        <%= f.text_field :cpf, class: "form-control cpf", placeholder: '000.000.000-00', required: false %>
        <%= has_error(@requisicao_ti, :cpf) %>
      </div>

      <div class="form-group col-md-6">
        <%= f.label :rg %>
        <%= f.text_field :rg, class: "form-control", required: false %>
        <%= has_error(@requisicao_ti, :rg) %>
      </div>
    </div>

    <div class="row d-none" id="nascimento-celular">
      <div class="form-group col-md-6">
        <%= f.label :data_nascimento %>
        <%= f.text_field :data_nascimento, class: "form-control data", placeholder: 'dd/mm/aaaa', required: false %>
        <%= has_error(@requisicao_ti, :data_nascimento) %>
      </div>

      <div class="form-group col-md-6">
        <%= f.label :celular %>
        <%= f.text_field :celular, class: "form-control celular", placeholder: '(99) 9999-9999', required: false %>
        <%= has_error(@requisicao_ti, :celular) %>
      </div>
    </div>

    <div class="row d-none" id="cargo-funcao">
      <div class="form-group col-md-6">
        <%= f.label :cargo_id %>
        <%= f.select :cargo_id, @cargos, { include_blank: true }, { class: "form-control js-searchable", required: false } %>
        <%= has_error(@requisicao_ti, :cargo_id) %>
      </div>

      <div class="form-group col-md-6">
        <%= f.label :funcao_id %>
        <%= f.select :funcao_id, @funcoes, { include_blank: true }, { class: "form-control js-searchable", required: false } %>
        <%= has_error(@requisicao_ti, :funcao_id) %>
      </div>
    </div>

    <div class="row d-none" id="estado-municipio">
      <div class="form-group col-md-6">
        <%= f.label :estado %>
        <%= f.select :estado, @estados, { include_blank: true }, { class: "form-control js-searchable", required: false } %>
        <%= has_error(@requisicao_ti, :estado) %>
      </div>

      <div class="form-group col-md-6">
        <%= f.label :municipio %>
        <%= f.select :municipio, @municipios, { include_blank: true }, { class: "form-control js-searchable", required: false } %>
        <%= has_error(@requisicao_ti, :municipio) %>
      </div>

    </div>

    <div class="row d-none" id="inicio-fim">
      <div class="form-group col-md-6">
        <%= f.label :periodo_inicio %>
        <%= f.text_field :periodo_inicio, class: "form-control data", placeholder: 'dd/mm/aaaa', required: false %>
        <%= has_error(@requisicao_ti, :periodo_inicio) %>
      </div>

      <div class="form-group col-md-6">
        <%= f.label :periodo_fim %>
        <%= f.text_field :periodo_fim, class: "form-control data", placeholder: 'dd/mm/aaaa', required: false %>
        <%= has_error(@requisicao_ti, :periodo_fim) %>
      </div>
    </div>

    <div class="form-group d-none" id="unidade">
      <%= f.label :unidade_id %>
      <%= f.select :unidade_id, @unidades, { include_blank: true }, { class: "form-control js-searchable", required: false } %>
      <%= has_error(@requisicao_ti, :unidade_id) %>
    </div>

    <div class="form-group d-none" id="perfil">
      <%= f.label :perfil %>
      <%= f.select :perfil, @perfis, { include_blank: true }, { class: "form-control js-searchable", required: false } %>
      <%= has_error(@requisicao_ti, :perfil) %>
    </div>

    <div class="form-group">
      <%= f.label :observacoes, 'Observações' %>
      <%= f.text_area :observacoes, class: "form-control", placeholder: 'Descreva sucintamente o tipo de requisição' %>
      <%= has_error(@requisicao_ti, :observacoes) %>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-success" data-disable-with="Salvar"><i class="icon fa fa-check"></i> Salvar</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="icon fas fa-ban"></i> Cancelar</button>
    </div>

  <% end %>
</div>

<script>
  $(document).ready(function() {
    $('.js-searchable').select2({
      placeholder: "Selecione",
      allowClear: true,
      theme: 'bootstrap',
      width: '100%'
    });

    function limpar_area(){
      $('#nome-email').addClass('d-none')
      $('#cpf-rg').addClass('d-none')
      $('#nascimento-celular').addClass('d-none')
      $('#cargo-funcao').addClass('d-none')
      $('#estado-municipio').addClass('d-none')
      $('#inicio-fim').addClass('d-none')
      $('#unidade').addClass('d-none')
      $('#perfil').addClass('d-none')
    }

    function carregar_area(nome){
      limpar_area()
      switch (nome){
        case 'PRODOC - CADASTRO':
          $('#nome-email').removeClass('d-none')
          $('#cpf-rg').removeClass('d-none')
          $('#nascimento-celular').removeClass('d-none')
          $('#cargo-funcao').removeClass('d-none')
          $('#estado-municipio').removeClass('d-none')
          $('#perfil').removeClass('d-none')
          break
        case 'PRODOC - SUBSTITUIÇÃO':
          $('#nome-email').removeClass('d-none')
          $('#inicio-fim').removeClass('d-none')
          break
        case 'PRODOC - RETIRADA':
          $('#nome-email').removeClass('d-none')
          break
        case 'PRODOC - TROCAR SENHA':
          $('#nome-email').removeClass('d-none')
          break
        case 'PRODOC - ALTERAR PERFIL':
          $('#nome-email').removeClass('d-none')
          $('#perfil').removeClass('d-none')
          break
        case 'PRODOC - LIBERAR ACESSO':
          $('#nome-email').removeClass('d-none')
          $('#cargo-funcao').removeClass('d-none')
          $('#inicio-fim').removeClass('d-none')
          $('#perfil').removeClass('d-none')
          break
        case 'WEBMAIL - CADASTRO':
          $('#nome-email').removeClass('d-none')
          $('#cargo-funcao').removeClass('d-none')
          $('#unidade').removeClass('d-none')
          break
        case 'WEBMAIL - TROCAR SENHA':
          $('#nome-email').removeClass('d-none')
          break
        case 'SISCOM - CADASTRO':
          $('#nome-email').removeClass('d-none')
          $('#cargo-funcao').removeClass('d-none')
          $('#unidade').removeClass('d-none')
          break
        case 'SISCOM - TROCAR SENHA':
          $('#nome-email').removeClass('d-none')
          break
        case 'SIGDOC - SOLICITAR PERMISSÃO DE ACESSO':
          $('#nome-email').removeClass('d-none')
          $('#unidade').removeClass('d-none')
          break
        case 'SIGDOC - DESABILITAR PERMISSÃO':
          $('#nome-email').removeClass('d-none')
          $('#unidade').removeClass('d-none')
          break
        case 'ADICIONAR USUARIO NO DOMINIO':
          $('#nome-email').removeClass('d-none')
          break
        case 'ACESSO A PASTA COMPARTILHADA':
          $('#nome-email').removeClass('d-none')
          break
      }
    }

    let problemaSelecionado = $('.select2-problema :selected').text()
    carregar_area(problemaSelecionado)

    $('.select2-problema').change(function(){
      let problemaSelecionado = $('.select2-problema :selected').text()
      carregar_area(problemaSelecionado)
    })

  });






</script>
