<% content_for :title do %>
  <i class="fa fa-chart-pie"></i> Etapas da ação: <%= @acao.nome %>
<% end %>
<% content_for :breadcrumb do %>
  <li class="breadcrumb-item"><a href="<%= acoes_path %>">Ações</a></li>
  <li class="breadcrumb-item active"><a href="<%= acao_etapas_path(@acao) %>">Etapas</a></li>
<% end %>
<% content_for :sub_title do %>
  Lista de etapas
<% end %>
<% content_for :buttons do %>
  <%= link_to new_acao_etapa_path(@acao), class: "btn btn-sm btn-success", title: "Nova Ação", remote: true do %>
    <i class="fas fa-plus"></i> Nova
  <% end %>
<% end %>

<table id="data-table" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Índice</th>
      <th>Nome</th>
      <th>Inicio</th>
      <th>Fim</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="data-table-body">
    <%= render @etapas %>
  </tbody>
</table>
 
